<app-page-header [heading]="'train'" [icon]="'fa-fw fa-folder-open-o'"></app-page-header>

<div class="row col-xs-12 col-md-12 main-container">
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-folder-open-o'" [label]="'Student Information'" [data]="'GO'" [routingToURL]="'/train/dt-03'"></app-card>
    </div>
</div>