<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item" *ngFor="let menu of listMenu">
                <a class="nav-link" routerLink="{{menu.url}}" [routerLinkActive]="['router-link-active']">
                    <i class="{{menu.icon}}"></i>&nbsp;{{ menu.label | translate }}
                    <span class="badge badge-danger"  *ngIf="menu.status == 'Hot'">{{menu.status}}</span>
                    <span class="badge badge-info"  *ngIf="menu.status == 'New'">{{menu.status}}</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
