<header class="app-header navbar layout-topbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" routerLink="/home"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <!--<li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>-->
    <!--<li class="nav-item px-3">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Settings</a>
    </li>-->
  </ul>
  <ul class="nav navbar-nav ml-auto topbar-menu">
    <!--<li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li>-->
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false" style="color: black">
        <!--<img src="assets/img/avatars/7.jpg" class="img-avatar">-->
        <span class="d-md-down-none">{{username}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center"><strong>บัญชี</strong></div>

        <!--<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>-->

        <!--<div class="dropdown-header text-center"><strong>Settings</strong></div>-->

        <a class="dropdown-item" href="profile"><i class="fa fa-user"></i>ข้อมูลส่วนตัว</a>
        <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>-->
        <div class="divider"></div>
        <!--<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>-->
        <a class="dropdown-item" (click)="onLoggedout()" [routerLink]="['/']"><i class="fa fa-lock"></i>ลงชื่อออก</a>
      </div>
    </li>
    <li class="nav-item d-md-down-none">
      <!--<a class="nav-link navbar-toggler" href="#" appAsideMenuToggler>&#9776;</a>-->
    </li>
  </ul>
</header>