.main-container {
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.card-compo {
    margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
