<app-page-header [heading]="'แฟ้มข้อมูลหลัก'" [icon]="'fa-fw fa-folder-open-o'"></app-page-header>

<div class="row col-xs-12 col-md-12 main-container">
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-handshake-o'" [label]="'จัดการผู้จำหน่าย'" [data]="'จัดการผู้จำหน่าย'" [routingToURL]="'/inv/master/vendor/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-users'" [label]="'จัดการลูกค้า'" [data]="'จัดการลูกค้า'" [routingToURL]="'/inv/master/customer/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-home'" [label]="'จัดการคลังสินค้า'" [data]="'จัดการคลังสินค้า'" [routingToURL]="'/inv/master/warehouse/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-cogs'" [label]="'จัดการหมวดสินค้า'" [data]="'จัดการหมวดสินค้า'" [routingToURL]="'/inv/master/itemtype/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-product-hunt'" [label]="'จัดการสินค้า'" [data]="'จัดการสินค้า'" [routingToURL]="'/inv/master/item/1'"></app-card>
    </div>
</div>