 <a href="javascript:void(0)" >
    <p-panel (click)="routingTo()"  styleClass="card-panel"> 
        <p-header>
            <div class="row">
                <div class="col col-xs-3">
                    <i class="fa {{icon}} fa-5x btn-menu"></i>
                </div>
                <div class="col col-xs-9 text-right">
                    <div class="d-block huge btn-menu">{{count}}</div>
                    <div class="d-block float-right btn-menu">{{ label | translate }}</div>
                </div>
            </div>
        </p-header>
            <div class="row">
                <div class="col col-xs-3">
                    <div class="float-left btn-menu">{{ data | translate }}</div>
                </div>
                <div class="col col-xs-9 text-right">
                    <div (click)="routingTo()" class="fa fa-arrow-circle-o-right fa-3x btn-menu"></div>
                </div>
            </div>
    </p-panel>
</a> 