<app-page-header [heading]="'dashboard'" [icon]="'fa-fw fa-dashboard'"></app-page-header>
<div class="row">
    <div class="col col-sm-6">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bar-chart-o"></i>{{ 'dt' | translate }}
            </div>
            <div class="card-block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bar-chart-o"></i>{{ 'dt' | translate }}
            </div>
            <div class="card-block">
                <canvas baseChart height="180px" [data]="doughnutChartData" 
                    [labels]="doughnutChartLabels" [chartType]="doughnutChartType" 
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>