<div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
        <i class="fa fa-fw fa-product-hunt"></i> จัดการสินค้า
      </div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid  content">
    <form [formGroup]="form">
      <div class="ui-grid-row">
        <div class="ui-grid-col-7 ui-g-7 ui-sm-7 ui-md-7" style="margin-right:-15px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              รหัสสินค้า
            </div>
            <div class="ui-grid-col-8 ui-g-8 ui-sm- ui-md-8">
              <input type="text" id="itemCd" name="itemCd" formControlName="itemCd" class="form-control" placeholder="รหัสสินค้า">
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1" style="padding-left: 10px;">
              <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              ชื่อสินค้า
            </div>
            <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
              <input type="text" id="itemName" name="itemName" formControlName="itemName" class="form-control" placeholder="ชื่อสินค้า">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              รายละเอียดสินค้า
            </div>
            <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
              <textarea class="form-control" rows="3" id="itemDesc" name="itemDesc" formControlName="itemDesc" placeholder="รายละเอียดสินค้า"
                style="resize: none"></textarea>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              ลักษณะสินค้า
            </div>
            <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
              <p-dropdown [options]="itemType" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="itemType" name="itemType"
                formControlName="itemType" placeholder="กรุณาเลือกลักษณะสินค้า"></p-dropdown>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              หน่วยนับ
            </div>
            <div class="ui-grid-col-6 ui-g-6 ui-sm-6 ui-md-6">
              <p-selectButton [options]="itemUnitType" formControlName="itemUnitType"></p-selectButton>
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <div *ngIf="this.form.value.itemUnitType == 3 ; else other_content">
                <input type="text" id="itemUnit" name="itemUnit" formControlName="itemUnit" class="form-control" placeholder="อื่นๆ">
              </div>
              <ng-template #other_content>
                <input type="text" id="itemUnit" name="itemUnit" formControlName="itemUnit" class="form-control" placeholder="อื่นๆ" disabled>
              </ng-template>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              นน. (บาท)
            </div>
            <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
              <p-selectButton [options]="itemWeigthType" formControlName="itemWeigthType"></p-selectButton>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              ราคา
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <input type="text" id="itemPrice" name="itemPrice" formControlName="itemPrice" class="form-control" placeholder="ราคา">
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
              นน.(กรัม)
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <input type="text" id="itemWeigth" name="itemWeigth" formControlName="itemWeigth" class="form-control" placeholder="นน. (กรัม)">
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1s">
              จุดสั่งซื้อ
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
              <input type="text" id="itemOrder" name="itemOrder" formControlName="itemOrder" class="form-control" placeholder="จุดสั่งซื้อ">
            </div>
          </div>
        </div>
        <div class="ui-grid-col-5 ui-g-5 ui-xs-5 ui-sm-5 ui-md-5" style="margin-bottom:50px">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>
    </form>
  </div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 footer">
        <button pButton type="button" label="ยกเลิก" (click)="onClear()" class="ui-button-blue"></button>
        <button pButton type="button" label="บันทึก" (click)="onSave()" class="ui-button-red"></button>
      </div>
    </div>
  </div>
</div>

<!-- Search Modal -->
<p-dialog header="ค้นหาสินค้า" [(visible)]="searchModal" [width]="1000" [positionTop]="100" [dismissableMask]="true" [draggable]="false"
  [resizable]="true">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
    <form [formGroup]="formSearchModal">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
          รหัสสินค้า
        </div>
        <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
          <input type="text" id="itemCd" name="itemCd" formControlName="itemCd" class="form-control" placeholder="รหัสสินค้า">
        </div>
        <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
          <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
          <p-dataTable [value]="recordsSearch" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="300px" [responsive]="true">
            <p-column field="itemCd" header="รหัสสินค้า" [sortable]="true"></p-column>
            <p-column field="itemName" header="ชื่อสินค้า" [sortable]="true"></p-column>
            <p-column field="itemDesc" header="รายละเอียดสินค้า" [sortable]="true"></p-column>
          </p-dataTable>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <button pButton type="button" (click)="searchModalHide()" label="ยกเลิก" class="ui-button-blue"></button>
  </p-footer>
</p-dialog>