@import "../../../../scss/erp-style.scss";

.header-padding{
    height: 30px;
}

.header{
    background-color: $erp-red;
    color: $erp-white;
    border: solid 1px;
    border-color: $erp-red;
}

.content{
    
    border: solid 1px;
    border-top: 0px;
    border-color: $erp-disable;
}

.footer{
    // margin-top: -50px;
    border: solid 1px;
    text-align: right;
    border-top: 0px;
    border-color: $erp-disable;
}

.ui-button-outline-red{
    background-color: $erp-white !important;
    color: $erp-black !important;
    border-color: $erp-black !important;
    width: 100%;
        &:focus,
        &.focus {
        background-color: $erp-red !important;
        border-color: $erp-red !important;
        color: $erp-white !important;
        }

        &:active,
        &.active {
        background-color: $erp-red !important;
        border-color: $erp-red !important;
        color: $erp-white !important;
        }

        &:hover,
        &.hover {
        background-color: $erp-red !important;
        border-color: $erp-red !important;
        color: $erp-white !important;
        }
}

.ui-button-red{
    background-color: $erp-red !important;
    color: $erp-white;
    border-color: $erp-red !important;
        &:focus,
        &.focus {
        background-color: darken($erp-red, 10%) !important;
        border-color:darken($erp-red, 12%) !important;
        color: $erp-white;
        }

        &:active,
        &.active {
         background-color: darken($erp-red, 10%) !important;
        border-color:darken($erp-red, 12%) !important;
        color: $erp-white;
        }

        &:hover,
        &.hover {
        background-color: darken($erp-red, 10%) !important;
        border-color:darken($erp-red, 12%) !important;
        color: $erp-white;
        }
}

.ui-button-blue{
    background-color: $erp-blue !important;
    color: $erp-white;
    border-color: $erp-blue !important;
        &:focus,
        &.focus {
        background-color: darken($erp-blue, 10%) !important;
        border-color:darken($erp-blue, 12%) !important;
        color: $erp-white;
        }

        &:active,
        &.active {
         background-color: darken($erp-blue, 10%) !important;
        border-color:darken($erp-blue, 12%) !important;
        color: $erp-white;
        }

        &:hover,
        &.hover {
        background-color: darken($erp-blue, 10%) !important;
        border-color:darken($erp-blue, 12%) !important;
        color: $erp-white;
        }
}
    .images{
        width: 100%;
        height: 120%;
    }
