<aside class="aside-menu">
    <nav class="aside-nav">
        <ul class="nav">
            <li class="nav-item" *ngFor="let menu of listMenu"  style="margin-top: 20%;">
                <a class="nav-link" (click)="menuFucntion(menu.function)">
                    <i class="{{menu.icon}}"></i>{{ menu.label | translate }}
                </a>
            </li>
        </ul>
    </nav>
  </aside>
