<ol class="breadcrumb">
    <app-breadcrumbs [url]="'pos/daily'" ></app-breadcrumbs>
</ol>

<div class="row">
    <div class="col-xl-3 col-lg-6">
        <app-card [bgClass]="'card-info'" [icon]="'fa-download'" [label]="'purchase'" 
        [data]="'makeTransaction'" [routingToURL]="'/pos/daily/purchase'"></app-card>
    </div>
    <div class="col-xl-3 col-lg-6">
        <app-card [bgClass]="'card-info'" [icon]="'fa-upload'" [label]="'sale'" 
        [data]="'makeTransaction'" [routingToURL]="'/pos/daily/sale'"></app-card>
    </div>
</div>