@import "../../../../scss/erp-style.scss";
.header-padding{
    height: 30px;
    margin-top: 25px;
    // margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.header{
    background-color: $erp-red;
    color: $erp-white;
    border: solid 1px;
    border-color: $erp-red;
    width: -25%;
}

.content{
    border: solid 1px;
    border-top: 0px;
    border-color: $erp-disable;
}

.footer{
    border: solid 1px;
    text-align: right;
    border-top: 0px;
    border-color: $erp-disable;
}

.ui-button-outline-red{
    background-color: $erp-white !important;
    color: $erp-black !important;
    border-color: $erp-black !important;
    width: 100%;
        &:focus,
        &.focus {
        background-color: $erp-red !important;
        border-color: $erp-red !important;
        color: $erp-white;
        }

        &:active,
        &.active {
        background-color: $erp-red !important;
        border-color: $erp-red !important;
        color: $erp-white;
        }

        &:hover,
        &.hover {
        background-color: $erp-red !important;
        border-color: $erp-red !important;
        color: $erp-white;
        }
}

.ui-button-red{
    background-color: $erp-red !important;
    color: $erp-white;
    border-color: $erp-red !important;
        &:focus,
        &.focus {
        background-color: darken($erp-red, 10%) !important;
        border-color:darken($erp-red, 12%) !important;
        color: $erp-white;
        }

        &:active,
        &.active {
         background-color: darken($erp-red, 10%) !important;
        border-color:darken($erp-red, 12%) !important;
        color: $erp-white;
        }

        &:hover,
        &.hover {
        background-color: darken($erp-red, 10%) !important;
        border-color:darken($erp-red, 12%) !important;
        color: $erp-white;
        }
}

.ui-button-blue{
    background-color: $erp-blue !important;
    color: $erp-white;
    border-color: $erp-blue !important;
        &:focus,
        &.focus {
        background-color: darken($erp-blue, 10%) !important;
        border-color:darken($erp-blue, 12%) !important;
        color: $erp-white;
        }

        &:active,
        &.active {
         background-color: darken($erp-blue, 10%) !important;
        border-color:darken($erp-blue, 12%) !important;
        color: $erp-white;
        }

        &:hover,
        &.hover {
        background-color: darken($erp-blue, 10%) !important;
        border-color:darken($erp-blue, 12%) !important;
        color: $erp-white;
        }
}

.ui-md-1, .ui-md-2, .ui-md-3, .ui-md-4, .ui-md-5, .ui-md-6, .ui-md-7, .ui-md-8, .ui-md-9, .ui-md-10, .ui-md-11, .ui-md-12{
    padding: .2em !important;
}

.main-container{
    margin-top: 50px;
    // margin-left: 235px;
    // padding: 15px;
    // -ms-overflow-x: hidden;
    // overflow-x: hidden;
    // overflow-y: scroll;
    // position: relative;
    // overflow: hidden;
}

@media screen and (max-width: 991px) {
    .main-container {
        margin-left: 0px !important;
        margin-top: 7em !important;
    }
}

    