<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div aria-label="Toolbar with button groups" class="btn-toolbar pull-left" role="toolbar">
          <button class="btn btn-primary" type="button" (click)="onBack()"> ย้อนกลับ</button>
          <button class="btn btn-success" type="button" (click)="onSave()"> บันทึก</button>
          <button class="btn btn-danger" *ngIf="this.courseId != null" (click)="onBeforeDelete(records)">ลบ</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="padding-top: 10px;">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="modal-header" style="margin-bottom: 4%">
              <div *ngIf="this.courseId != null">
                <h4 class="modal-title">Edit Course Information</h4>
              </div>
              <div *ngIf="this.courseId == null">
                <h4 class="modal-title">Create Course Information</h4>
              </div>
            </div>
            <form [formGroup]="form">

              <div class="modal-dialog modal-lg">
                <div class="modal-body">
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" required>รหัสรายวิชา</label>
                      <div class="col-sm-9 col-md-9 col-lg-9">
                        <div *ngIf="this.courseId == null">
                          <input type="text" id="courseCode" name="courseCode" formControlName="courseCode" class="form-control" placeholder="รหัสรายวิชา">
                        </div>
                        <div *ngIf="this.courseId != null">
                          <input type="text" id="courseCode" name="courseCode" formControlName="courseCode" class="form-control" placeholder="รหัสรายวิชา" disabled>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" required>ชื่อรายวิชา</label>
                      <div class="col-sm-9 col-md-9 col-lg-9">
                        <input type="text" id="courseName" name="courseName" formControlName="courseName" class="form-control" placeholder="ชื่อรายวิชา">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
 <div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
                ตกลง
            </button>
        </div>
      </div>
    </div>
  </div>
</div> 

<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
                ตกลง
            </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
                ยกเลิก
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert back modal component -->
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backPage()" style="margin-bottom: 10px;">
                ตกลง
            </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModal.hide()" style="margin-bottom: 10px; margin-left: -15px;">
                ยกเลิก
            </button>
        </div>
      </div>
    </div>
  </div>
</div>