<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: 0%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">
          MFU02 : COURSE INFORMATION
        </div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" (click)="createCourse()">  เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <form [formGroup]="form">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="appendedInputButtons" placeholder="ค้นหา" size="14" type="text" formControlName="inputSearch" #inputSearch/>
                <div class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
              <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">
                {{ initMsg }}
              </alert>
            </div>
            </form>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 30%;">รหัสรายวิชา</th>
                  <th style="width: 50%;">ชื่อรายวิชา</th>
                  <th style="width: 20%;">แก้ไข/ลบ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="childModalShow(records)" style="width: 20%; text-align: center">
                    <u> {{records?.courseCode}}</u>
                  </td>
                  <td style="width: 50%; text-align: left">{{records?.courseName}}</td>
                  <td style="width: 15%;text-align: center">
                    <button class="btn btn-danger" (click)="onBeforeDelete(records)">ลบ</button>
                  </td>
                </tr>
              </tbody>
            </table>
              <!-- <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>   -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">
                ตกลง
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
                ตกลง
            </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
                ยกเลิก
            </button>
        </div>
      </div>
    </div>
  </div>
</div>