<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: 0%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">MFURT02 : COURSE</div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
          <div class="form-group">
            <div class="input-group">
              <input type="file" #fileInput placeholder="Upload file..." />
              <button type="button" (click)="upload()">Upload</button>
            </div>
            <!-- <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">
                {{ initMsg }}
              </alert> -->
          </div>
        </div>
        <div class="card-block table-responsive" style="margin-top: -40px">
          <table class="table table-hover table-bordered table-condensed table-sm">
            <thead class="thead-default">
              <tr>
                <th style="width: 30%;">รหัสรายวิชา</th>
                <th style="width: 50%;">ชื่อรายวิชา</th>
                <th style="width: 20%;">แก้ไข/ลบ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let records of records">
                <td (click)="childModalShow(records)" style="width: 20%; text-align: center">
                  <u> {{records?.courseCode}}</u>
                </td>
                <td style="width: 50%; text-align: left">{{records?.courseName}}</td>
                <td style="width: 15%;text-align: center">
                  <button class="btn btn-danger" (click)="onBeforeDelete(records)">ลบ</button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <pagination [page]="page" (changepage)="onChangePage($event)"></pagination> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>