<!-- <p-panel styleClass="card-panel-su-rt-03">
    <p-header>
        <div class="content-section main-container">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 " style="font-size: x-large;">
                     <i class="fa fa-user-circle"></i> จัดการข้อมูลส่วนตัว
                </div>
            </div>
        </div>
    </p-header>

    <div class="profile-page ">
        <div class="row">
            <div class="col-md-10 push-md-1">
                <form role="form">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'fullName' | translate }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" id="" placeholder="{{ 'userName' | translate }}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'password' | translate }}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'rePassword' | translate }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-11 push-md-1" style="margin-left: -13px">
        <a class="btn btn-blue" href="home" style="color: white">กลับ</a>
        <a class="btn btn-red" style="color: white" (click)="onSave()">แก้ไข</a>
    </div>

</p-panel> -->