<div class="welcome-page">
    <div class="row">
        <div class="col-md-10 push-md-1">
            <h1>404 {{ 'pageNotFound' | translate }}</h1>
            <p class="lead">{{ 'thisPageDoesNotExist' | translate }}</p>
            <p class="lead">
                <a class="btn rounded-btn" [routerLink]="['/']">{{ 'restart' | translate }}</a>
            </p>
        </div>
    </div>
</div>