<style>
    body{
        border: 1px solid #cccccc;
    }
    .header0{
    background: #339966;
    color: #FFFAFA;
    }
    .content{
        margin: 5px 5px 5px 5px;
    }
    .button{
        width: 50px;
        height: 30px;
        background: #99CCFF;
        margin: 2px 5px 2px 5px;
        border-radius: 5px;
        
    }
    .boder{
         border: 1px solid #cccccc;
    }
</style>
<app-page-header [heading]="'สร้างแบบประเมินหลังการอบรม'" [icon]="'fa-address-book'"></app-page-header>
<body>

    <div class="col-md-3">
        <div class="boder header0">
            <h5><i class="fa fa-fw fa-retweet" style="margin:4px 0 0 0"></i>สร้างแบบประเมิน</h5>
        </div>
    </div>

    <div class="content">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-md-6" align="center">
                        <p>รหัสแบบประเมิน</p>
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:90%;background:#FFFAFA;">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-md-6" align="center">
                        <p>ชื่อแบบประเมิน</p>
                    </div>
                    <div class="col-md-6">
                        <input type="text" style="width:90%;background:#FFFAFA;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row align-items-center"> 
            <div class="col-md-4" align="center">
                <input type="text" style="width:90%;background:#FFFAFA;" placeholder="หัวข้อการประเมิน">
            </div>
            <div class="col-md-4" align="center">
                <p-dropdown [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="warehouseId" name="warehouseId" placeholder="ปัจจัยที่ใช้ในการประเมินของแต่ละหัวข้อ"></p-dropdown>
            </div>
            <div class="col-md-4" align="center">
                <p-dropdown [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="warehouseId" name="warehouseId" placeholder="ระดับการประเมิน"></p-dropdown>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row align-items-center">
            <div class="col-md-11">
            </div>
            <div class="col-md-1" align="right">
                <button type="button" class="button" (onclick)="save(index)">save</button>
            </div>
        </div>
    </div>

<div class="boder"style="margin:10px 10px 0 10px">
    <input #gb type="text" pInputText size="50" placeholder="List แบบประเมิณ"style="width:95%;margin:5px 0 5px 10px">
    <i class="fa fa-search" style="margin:4px 10px 0 10px"></i>
</div>

<p-dataTable  class="header" [editable]="true" [scrollable]="true" scrollHeight="150px"
    [responsive]="true" class="boder">
    <p-column field="" header="รหัสแบบประเมิน" [sortable]=""[editable]="true"></p-column>
    <p-column field="" header="ชื่อแบบประเมิน" [sortable]=""[editable]="true"></p-column>
    <p-column field="" header="หัวข้อการประเมิน" [sortable]="" [editable]="true" ></p-column>
    <p-column field="" header="ปัจจัยที่ใช้ในการประเมินของแต่ละหัวข้อ" [sortable]="" [editable]="true" ></p-column>
    <p-column field="" header="ระดับการประเมิน" [sortable]="" [editable]="true"></p-column>
    <p-column>
        <ng-template let-index="rowIndex" pTemplate="body">
            <button type="button" class="ui-button-blue" pButton (click)="deleteRow(index)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
</p-dataTable>
</body>