<footer class="app-footer">
    <div class="float-left">
        <a>Tools: </a>
        <a class="btn btn-default" href="#" aria-label="search">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </a>
        <a class="btn btn-default" href="#" aria-label="save">
            <i class="fa fa-save fa-2x" aria-hidden="true"></i>
        </a>
    </div>
</footer>