
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>

<p-dataTable [value]="tranDetail" [editable]="true" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="180px"
    [responsive]="true" [globalFilter]="gb" #dt styleClass="grid-no-scroll">
    <p-column field="productId" header="รหัสนักศึกษา" [sortable]="" [editable]="true" styleClass="grid">
        <ng-template let-index="rowIndex" let-col let-item="rowData" pTemplate="editor">
            <p-dropdown [options]="product" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" [(ngModel)]="item[col.field]"
                id="warehouseId" name="warehouseId" (onChange)="itemChange($event,index)" appendTo="body"></p-dropdown>
        </ng-template>
    </p-column>
    <p-column field="productDetail" header="ชื่อ-สกุล" [sortable]=""></p-column>
    <p-column field="transQty" header="รหัสวิชา" [sortable]="" [editable]="true" styleClass="grid-number grid"></p-column>
    <p-column field="transCost" header="ชื่อวิชา" [sortable]="" [editable]="true" styleClass="grid-number"></p-column>
    <p-column field="transAmount" header="เกรด" [sortable]="" [editable]="true" styleClass="grid-number"></p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" class="ui-button-red" pButton icon="fa-plus" (click)="addRow()"></button>
        </ng-template>
        <ng-template let-index="rowIndex" pTemplate="body">
            <button type="button" class="ui-button-blue" pButton (click)="deleteRow(index)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
</p-dataTable>