@import "../../../../scss/erp-style.scss";

.table-data {
    margin-top: 10px;
}

.card-footer{
    background-color: $erp-red;
    color: $erp-white;
    position: fixed; 
    bottom: 0px; 
    width: 88.5%; 
    height: 100%px;
}

#fileselector {
    margin: 10px; 
}
#upload-file-selector {
    display:none;   
}
.margin-correction {
    margin-right: 10px;   
}

.tabs{
    .btn-tabs{
        border-color: $erp-gold;
        background-color: $erp-gold;
        width: 49.6%;
        color: $erp-white;
            &:focus,
            &.focus {
            background-color: $erp-red;
            border-color: $erp-red;
            color: $erp-white;
            }

            &:active,
            &.active {
            background-color: $erp-red;
            border-color: $erp-red;
            color: $erp-white;
            }

            &:hover,
            &.hover {
            background-color: $erp-red;
            border-color: $erp-red;
            color: $erp-white;
            }
    
        .btn-link{
            color: $erp-white;
        }

        &#tabSell{
            margin-left: 0.2%
        }
    }
}


.table{
    thead{
        th{
            text-align:center; 
            background-color: $erp-gold; 
            color: $erp-white;
        }
    }

    tbody{
        td{
            text-align:center; 
            background-color: $erp-pink;
        }
    }
}

.receiptTable{
    th{
        text-align:center; 
        background-color: $erp-gold; 
        color: $erp-white;
    }

    td{
        background-color: $erp-pink;
    }
}

.modal-header{
    background-color: $erp-red;
    color: $erp-white;

    .close{
        color: $erp-white;
    }
}

.itemBuyModal{
    background-color: $erp-gold;

    .itemBuyModalDetail{
        background-color: $erp-white;
    }

    .itemBuyModalPic{
        color: $erp-white;
        margin: auto;
        text-align: center;
    }
}

.bg-recipt{
    background-color: $erp-bg-reciept;
    margin-right: 0px;
    margin-left: 0px;
}

.receiptMini{
    border-style: solid; 
    border-width: thin; 
    border-color: #d9d9d9;
    margin: auto;
}

.receiptFull{
    border-style: solid; 
    border-width: thin; 
    border-color: #d9d9d9;
    margin: auto;
}

.page{
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.A4{
    width: 21cm;
    min-height: 29.7cm;
}

.A6{
    width: 10.5cm;
    min-height: 14.85cm;
}

tfoot{
    tr{
        border-style: hidden
    }
}