<ol class="breadcrumb">
    <app-breadcrumbs [url]="'pos/daily/purchase'" ></app-breadcrumbs>
</ol>
<div class="container-fluid">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1" ></div>
            <div class="col-6 col-sm-7 col-md-7" >
                <input type="text" formControlName="inputSearch" class="form-control" id="textSearch"  placeholder="{{ 'textSearch' | translate }}">
            </div>
            <div class="col-1 col-sm-1 col-md-1" >
                <button type="submit" class="btn btn-success" (click)="onSearch()"><i class="fa fa-search"></i>{{ 'searchasd' | translate }}</button>
            </div>
            <div class="col-1 col-sm-1 col-md-1" >
                <button type="submit" class="btn btn-success btn-search"><i class="fa fa-search"></i>{{ 'advanceSearch' | translate }}</button>
            </div>
            <div class="col-3 col-sm-2 col-md-2" ></div>
        </div>
    </form>
</div>
<!--<div class="row">
</div>-->
<div class="container-fluid table-responsive">
    <div class="card mb-3">
        <div class="card-header">Striped Rows</div>
            <div class="card-block">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>OrderNumber</th>
                            <th>Visits</th>
                            <th>% New Visits</th>
                            <th>Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button type="submit" (click)="test(i)" class="btn btn-success btn-search">/index.html</button></td>
                            <td>1265</td>
                            <td>32.3%</td>
                            <td>$321.33</td>
                        </tr>
                        <tr>
                            <td>/about.html</td>
                            <td>261</td>
                            <td>33.3%</td>
                            <td>$234.12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>