<div class="animated fadeIn" style="margin-top: 1%;">
  <!-- <div class="container-fluid"> -->
    <div class="row tabs">
      <div class="col-sm-12 col-md-12">
        <button type="button" class="btn btn-tabs active" id="tabSell" (click)="tabs('sell')" >ขาย</button>
        <button type="button" class="btn btn-tabs" id="tabBuy" (click)="tabs('buy')">ซื้อ</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
              <div class="card" id="sellDiv" style="display: block; margin-bottom: 75px;">
              <div class="card-block">
              <form [formGroup]="formSell">
              <div class="row">
                <div class="col-sm-5 col-md-5">
                   <div class="form-group row">
                    <select id="itemId" name="itemId" class="form-control" formControlName="itemId">
                    <option value="" hidden>RFID, รหัสบาร์โค้ด, รหัสสินค้า, ชื่อสินค้า, ลายสินค้า</option>
                    <option value="1">A0001 ทองแท่ง ปั๊มโลโก้ 96.5% (บรรจุในการ์ด) 1 สลึง</option>
                    <option value="2">A0002 ทองแท่ง ปั๊มโลโก้ 96.5% (บรรจุในการ์ด) 2 สลึง</option>
                    <option value="3">A0003 ทองแท่ง ปั๊มโลโก้ 96.5% (บรรจุในการ์ด) 1 บาท</option>
                    <option value="4">A0004 ทองแท่ง ปั๊มโลโก้ 96.5% (บรรจุในการ์ด) 2 บาท</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-7 col-md-7 row" style="padding-right: 10px;">
                  <div class="col-sm-10 col-md-10">
                    <div class="row">
                      <div class="col-sm-4 col-md-4" style="padding-right: 0px;">
                        <label class="col-sm-12 col-md-12 form-control-label" >หมายเลขสั่งขาย</label>
                      </div>
                      <div class="col-sm-8 col-md-8" style="padding-right: 0px;">
                        <input type="text" id="sellNo" name="sellNo" formControlName="sellNo" class="form-control" placeholder="AUTO" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 col-md-2" style="text-align: right; padding-right: 0px; margin-left: -0.3%;">
                    <p>
                      <a class="btn btn-outline-secondary" style="color: #000" (click)="open(searchContent)"><i class="fa fa-search"></i></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4"></div>
                <div class="col-sm-8 col-md-8 row" style="padding-right: 10px;">
                  <div class="col-sm-8 col-md-8" style="text-align: right">
                    <label class="form-control-label" style="margin-top: 8px;">คุณสมหมาย มั่นคง เลขผู้เสียภาษี 1-5823-9872-3987</label>
                  </div>
                  <div class="col-sm-4 col-md-4" style="text-align: right; padding-right: 0px; margin-left: -0.3%;">
                    <p>
                      <a class="btn btn-red" (click)="open(customerContent)" style="color: white">ลูกค้า</a>
                      <a class="btn btn-blue" style="color: white">ยกเลิก</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="card-block" style="padding-bottom: 0px; padding-top: 10px;">
                  <div class="row">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>รหัสสินค้า</th>
                            <th>รายละเอียดสินค้า</th>
                            <th>น้ำหนัก(กรัม)</th>
                            <th>ราคา(บาท)</th>
                            <th>ค่ากำเหน็จ(บาท)</th>
                            <th>จำนวน</th>
                            <th>รวม (บาท)</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of recordsSell; let i = index">
                                <td (click)="open(itemSellContent)" style="text-align: center">{{record?.purchaseId}}</td>
                                <td (click)="open(itemSellContent)" style="text-align: left">{{record?.detail}}</td>
                                <td (click)="open(itemSellContent)">{{record?.weigth}}</td>
                                <td (click)="open(itemSellContent)">{{record?.price}}</td>
                                <td (click)="open(itemSellContent)">{{record?.gmc}}</td>
                                <td (click)="open(itemSellContent)">{{record?.quantity}}</td>
                                <td (click)="open(itemSellContent)" style="text-align: right">{{record?.total}}</td>
                                <td><button type="submit" class="btn btn-blue"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                              <td style="text-align: left">จำนวนสินค้าทั้งหมด</td>
                              <td style="text-align: center">2</td>
                              <td style="text-align: center">(รายการ)</td>
                              <td></td>
                              <td style="text-align: left">ราคาสินค้า</td>
                              <td></td>
                              <td style="text-align: right">143,050.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">ค่ากำเหน็จ</td>
                              <td></td>
                              <td style="text-align: right">700.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">ราคารวม</td>
                              <td></td>
                              <td style="text-align: right">143,750.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">ส่วนลดค่ากำเหน็จ</td>
                              <td></td>
                              <td style="text-align: right">100.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">ราคารวมค่ากำเหน็จ</td>
                              <td></td>
                              <td style="text-align: right">143,650.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">
                                <div class="row" style="text-align: left">
                                  <div class="col-sm-3 col-md-3">
                                    ภาษี
                                  </div> 
                                  <div class="col-sm-9 col-md-9">
                                    <select id="sellTax" name="sellTax" class="form-control" formControlName="sellTax">
                                    <option value="1">7%</option>
                                    <option value="2">8%</option>
                                    <option value="3">9%</option>
                                    <option value="4">10%</option>
                                    </select>
                                  </div>
                                </div>
                              </td>
                              <td></td>
                              <td style="text-align: right">0.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">ราคาสินค้ารวมภาษี</td>
                              <td></td>
                              <td style="text-align: right">143,650.00</td>
                              <td></td>
                            </tr>
                        </tfoot>
                      </table>
                  </div>
                </div>
              </div>
              </form>
              </div>
              </div>
              <div class="card" id="buyDiv" style="display: none; margin-bottom: 75px;">
              <div class="card-block">
              <form [formGroup]="formBuy">
              <div class="row">
                <div class="col-sm-5 col-md-5">
                </div>
                <div class="col-sm-7 col-md-7 row" style="padding-right: 10px;">
                  <div class="col-sm-10 col-md-10">
                    <div class="row">
                      <div class="col-sm-4 col-md-4" style="padding-right: 0px;">
                        <label class="col-sm-12 col-md-12 form-control-label" >หมายเลขสั่งซื้อ</label>
                      </div>
                      <div class="col-sm-8 col-md-8" style="padding-right: 0px;">
                        <input type="text" id="buyNo" name="buyNo" formControlName="buyNo" class="form-control" placeholder="AUTO" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-2 col-md-2" style="text-align: right; margin-left: -0.3%;">
                    <p>
                      <a class="btn btn-outline-secondary" style="color: #000" (click)="open(searchContent)"><i class="fa fa-search"></i></a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <button type="button" class="btn btn-red" (click)="open(itemBuyContent)">เพิ่มรายการ</button>
                </div>
                <div class="col-sm-8 col-md-8 row" style="padding-right: 10px;">
                  <div class="col-sm-8 col-md-8" style="text-align: right">
                    <label class="form-control-label" style="margin-top: 8px;">คุณสมหมาย มั่นคง เลขผู้เสียภาษี 1-5823-9872-3987</label>
                  </div>
                  <div class="col-sm-4 col-md-4" style="text-align: right; margin-left: -0.3%;">
                    <p>
                      <a class="btn btn-red" (click)="open(customerContent)" style="color: white">ลูกค้า</a>
                      <a class="btn btn-blue" style="color: white">ยกเลิก</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="card-block" style="padding-bottom: 0px; padding-top: 10px;">
                  <div class="row">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>ประเภท</th>
                            <th>รายละเอียดสินค้า</th>
                            <th>น้ำหนัก(กรัม)</th>
                            <th>ราคารับซื้อกลาง(บาท)</th>
                            <th>ราคารับซื้อจริง(บาท)</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of recordsBuy; let i = index">
                                <td style="text-align: left">{{record?.type}}</td>
                                <td style="text-align: left">{{record?.detail}}</td>
                                <td style="text-align: right">{{record?.weigth}}</td>
                                <td style="text-align: right">{{record?.priceMd}}</td>
                                <td style="text-align: right">{{record?.priceRl}}</td>
                                <td><button type="submit" class="btn btn-blue"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                              <td style="text-align: left">จำนวนสินค้าทั้งหมด</td>
                              <td style="text-align: center">3</td>
                              <td style="text-align: left">(รายการ)</td>
                              <td style="text-align: left">ราคารับซื้อกลาง</td>
                              <td style="text-align: right">145,100.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">ส่วนต่างค่าหลอมทอง</td>
                              <td style="text-align: right">1,450.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">ราคารับซื้อจริง</td>
                              <td style="text-align: right">143,650.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">
                                <div class="row" style="text-align: left">
                                  <div class="col-sm-3 col-md-3">
                                    ภาษี
                                  </div> 
                                  <div class="col-sm-6 col-md-6">
                                    <select id="buyTax" name="buyTax" class="form-control" formControlName="buyTax">
                                    <option value="1">7%</option>
                                    <option value="2">8%</option>
                                    <option value="3">9%</option>
                                    <option value="4">10%</option>
                                    </select>
                                  </div>
                                </div>
                              </td>
                              <td style="text-align: right">0.00</td>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td style="text-align: left">ราคาสินค้ารวมภาษี(บาท)</td>
                              <td style="text-align: right">143,650.00</td>
                              <td></td>
                            </tr>
                        </tfoot>
                      </table>
                  </div>
                </div>
              </div>
              </form>
              </div>
              </div>
      </div>
    </div>
  <!-- </div> -->
</div>

<!-- Footer -->
<div class="card-footer">
  <div class="form-group row">
    <label class="col-sm-7 col-md-7 form-control-label" style="font-size: xx-large; margin: auto;">ยอดรวมที่ต้องชำระ(บาท)</label>
    <label class="col-sm-2 col-md-2 form-control-label" style="text-align: right; font-size: xx-large; margin: auto;">143,650.00</label>
    <div class="col-sm-2 col-md-2" style="margin: auto;">
      <button type="submit" class="btn btn-outline-white" style="font-size: xx-large;" (click)="openFull(paymentContent)">ชำระ</button>
    </div>
  </div>
</div>

<!-- Search Modal -->
<ng-template #searchContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">หมายเลขสั่งซื้อ / สั่งขาย</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formSearchModal">
      <div class="form-group row">
        <div class="col-sm-10 col-md-10">
          <input type="text" id="recpNo" name="recpNo" formControlName="recpNo" class="form-control" placeholder="หมายเลขใบเสร็จ">
        </div>
        <div class="col-sm-1 col-md-1">
          <button type="button" class="btn btn-outline-secondary" style="color: #000"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="row">
          <div class="card-block" style="padding-bottom: 0px; padding-top: 10px;">
            <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th>หมายเลข</th>
                      <th>วันที่</th>
                      <th>ผู้ขาย</th>
                      <th>ทางเลือก</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let record of recordsSearch; let i = index">
                          <td>{{record?.no}}</td>
                          <td>{{record?.date}}</td>
                          <td>{{record?.seller}}</td>
                          <td><button type="submit" class="btn btn-red">เลือก</button></td>
                      </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer" style="justify-content: center;">
    <button type="button" class="btn btn-blue" (click)="c('Close click')" style="width: 40%;">ยกเลิก</button>
  </div>
</ng-template>

<!-- Customer Modal -->
<ng-template #customerContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">รายละเอียดผู้ซื้อสินค้า</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formCustomerModal">
      <div class="form-group row">
        <label class="col-sm-7 col-md-7 form-control-label" >หมายเลขผู้เสียภาษี</label>
        <label class="col-sm-5 col-md-5 form-control-label" >เพศ</label>
        <div class="col-sm-7 col-md-7">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <input type="text" id="cusNo" name="cusNo" formControlName="cusNo" class="form-control" placeholder="หมายเลขผู้เสียภาษี">
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-5">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div formControlName="cusGender" ngbRadioGroup name="radioBasic">
                <label class="btn btn-outline-red">
                  <input type="radio" [value]="1"> ชาย
                </label>
                <label class="col-sm-1 col-md-1 form-control-label"></label>
                <label class="btn btn-outline-red">
                  <input type="radio" [value]="2"> หญิง
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-md-2 form-control-label" >คำนำหน้า</label>
        <label class="col-sm-5 col-md-5 form-control-label" >ชิ่อ</label>
        <label class="col-sm-5 col-md-5 form-control-label" >นามสกุล</label>
        <div class="col-sm-2 col-md-2">
          <input type="text" id="cusTitle" name="cusTitle" formControlName="cusTitle" class="form-control" placeholder="คำนำหน้า">
        </div>
        <div class="col-sm-5 col-md-5">
          <input type="text" id="cusName" name="cusName" formControlName="cusName" class="form-control" placeholder="ชิ่อ">
        </div>
        <div class="col-sm-5 col-md-5">
          <input type="text" id="cusSurName" name="cusSurName" formControlName="cusSurName" class="form-control" placeholder="นามสกุล">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-12 col-md-12 form-control-label" >ที่อยู่</label>
        <div class="col-sm-12 col-md-12">
          <textarea class="form-control" rows="3" id="cusAddress" name="cusAddress" formControlName="cusAddress" placeholder="ที่อยู่" style="resize: none"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-6 col-md-6 form-control-label" >เบอร์มือถือ</label>
        <label class="col-sm-6 col-md-6 form-control-label" >อีเมล์</label>
        <div class="col-sm-6 col-md-6">
          <input type="text" id="cusTel" name="cusTel" formControlName="cusTel" class="form-control" placeholder="เบอร์มือถือ">
        </div>
        <div class="col-sm-6 col-md-6">
          <input type="text" id="cusEmail" name="cusEmail" formControlName="cusEmail" class="form-control" placeholder="อีเมล์">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="justify-content: center;">
    <button type="button" class="btn btn-blue" (click)="c('Close click')" style="width: 40%;">ยกเลิก</button>
    <button type="button" class="btn btn-red" (click)="c('Close click')" style="width: 40%;">บันทึกและเลือก</button>
  </div>
</ng-template>

<!-- itemSell Modal -->
<ng-template #itemSellContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">ข้อมูลสินค้า</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-block">
        <form [formGroup]="formSellModal">
          <div class="form-group row">
              <div class="col-sm-4 col-md-4">
                 <img src="https://shop.r10s.jp/auc-darumaya/cabinet/04266316/imgrc0065099788.jpg" style="max-width: 100%">
              </div>
              <div class="col-sm-8 col-md-8">
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >รหัสสินค้า</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="sellItemCd" name="sellItemCd" formControlName="sellItemCd" class="form-control" placeholder="รหัสสินค้า">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >รายละเอียดสินค้า</label>
                  <label class="col-sm-8 col-md-8 form-control-label" >ทองแท่ง ปั๊มโลโก้ 96.5% (บรรจุในการ์ด) 1 บาท</label>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >น้ำหนัก(กรัม)</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="sellItemWeigth" name="sellItemWeigth" formControlName="sellItemWeigth" class="form-control" placeholder="น้ำหนัก">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >ราคา(บาท)</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="sellItemPrice" name="sellItemPrice" formControlName="sellItemPrice" class="form-control" placeholder="ราคา">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >ค่ากำเหน็จ(บาท)</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="sellItemMGC" name="sellItemMGC" formControlName="sellItemMGC" class="form-control" placeholder="ค่ากำเหน็จ">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >จำนวน</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="sellItemQty" name="sellItemQty" formControlName="sellItemQty" class="form-control" placeholder="จำนวน">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-4 col-md-4 form-control-label" >รวม(บาท)</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="sellItemTotal" name="sellItemTotal" formControlName="sellItemTotal" class="form-control" placeholder="รวม">
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-blue" (click)="c('Close click')">ยกเลิก</button>
    <button type="button" class="btn btn-red" (click)="c('Close click')">บันทึก</button>
  </div>
</ng-template>

<!-- itemBuy Modal -->
<ng-template #itemBuyContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">ข้อมูลสินค้า</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-block">
        <form [formGroup]="formBuyModal">
          <div class="form-group row itemBuyModal">
              <div class="col-sm-4 col-md-4 itemBuyModalPic">
                 <form>
                    <span id="fileselector">
                        <label class="btn btn-default" for="upload-file-selector">
                            <input id="upload-file-selector" type="file">
                            <i class="fa fa-file-image-o"></i> เพิ่มรูปภาพ
                        </label>
                    </span>
                </form>
              </div>
              <div class="col-sm-8 col-md-8 itemBuyModalDetail">
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >รายละเอียดสินค้า</label>
                  <div class="col-sm-8 col-md-8">
                    <textarea id="buyItemDesc" name="buyItemDesc" formControlName="buyItemDesc" class="form-control" placeholder="รายละเอียดสินค้า" rows="3" style="resize: none"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >น้ำหนัก(กรัม)</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="buyItemWeigth" name="buyItemWeigth" formControlName="buyItemWeigth" class="form-control" placeholder="น้ำหนัก">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >ราคารับซื้อกลาง(บาท)</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="buyItemPriceMd" name="buyItemPriceMd" formControlName="buyItemPriceMd" class="form-control" placeholder="ราคารับซื้อกลาง">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-4 form-control-label" >ราคารับซื้อจริง(บาท)</label>
                  <div class="col-sm-8 col-md-8">
                    <input type="text" id="buyItemPriceRl" name="buyItemPriceRl" formControlName="buyItemPriceRl" class="form-control" placeholder="ราคารับซื้อจริง">
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-blue" (click)="c('Close click')">ยกเลิก</button>
    <button type="button" class="btn btn-red" (click)="c('Close click')">บันทึก</button>
  </div>
</ng-template>

<!-- payment Modal -->
<ng-template #paymentContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">ใบกำกับภาษี / ใบเสร็จรับเงิน</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="min-height: 580px;">
    <form [formGroup]="formPayment">
    <div class="form-group row">
      <div class="col-sm-3 col-md-3">
        <div class="form-group row">
          <label class="col-sm-12 col-md-12 form-control-label"> ชำระโดย</label>
        </div>
        <div class="form-group row">
          <div formControlName="payMeth" ngbRadioGroup name="radioBasic" style="margin: auto;">
            <label class="btn btn-outline-red">
              <input type="radio" [value]="1"> เงินสด
            </label>
            <label class="col-sm-1 col-md-1 form-control-label"></label>
            <label class="btn btn-outline-red">
              <input type="radio" [value]="2"> บัตรเครดิต
            </label>
          </div>
        </div>
        <div class="form-group row" style="text-align: right; font-size: x-small;">
          <label class="col-sm-12 col-md-12 form-control-label"> * หมายเหตุ: ค่าธรรมเนียม 3% หากเลือกชำระผ่านบัตรเครดิต</label>
        </div>
        <div class="form-group row">
          <label class="col-sm-12 col-md-12 form-control-label"> ยอดเงินรวม</label>
        </div>
        <div class="form-group row" style="text-align: right; font-size: xx-large;">
          <label class="col-sm-12 col-md-12 form-control-label"> 143,650.00 บาท</label>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-3 form-control-label">เลขบัตร</label>
          <div class="col-sm-9 col-md-9">
            <input type="text" id="creditNo" name="creditNo" formControlName="creditNo" class="form-control" placeholder="บัตร Visa/Master/JCB">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-3 form-control-label">ชื่อ</label>
          <div class="col-sm-9 col-md-9">
            <input type="text" id="creditName" name="creditName" formControlName="creditName" class="form-control" placeholder="ชื่อบนบัตร">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-3 form-control-label">วันหมดอายุ</label>
          <div class="col-sm-4 col-md-4">
            <input type="text" id="creditExp" name="creditExp" formControlName="creditExp" class="form-control" placeholder="เดือน/ปี">
          </div>
          <label class="col-sm-2 col-md-2 form-control-label">CVV</label>
          <div class="col-sm-3 col-md-3">
            <input type="text" id="creditCV" name="creditCV" formControlName="creditCV" class="form-control" maxlength="3" placeholder="CVV">
          </div>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <div class="col-sm-12 col-md-12 tabs" style="padding-left: 0px; padding-right: 0px; margin-left: 0.2%;">
          <button type="button" class="btn btn-tabs active" id="receiptMinitab" (click)="tabs('receiptMini')" >ใบเสร็จแบบย่อ</button>
          <button type="button" class="btn btn-tabs" id="receiptFulltab" (click)="tabs('receiptFull')">ใบเสร็จแบบเต็ม</button>
        </div>
        <!--<iframe id="iframe" name="iframe" class="preview-pane"  height="400px" width="100%" ></iframe>-->
        <div class="bg-recipt row">
          <div id="receiptMini" class="page A6 receiptMini printAble">
            <meta charset="UTF-8" />
              <div class="row">
                <label> &nbsp;</label>
              </div>
              <div class="row" style="text-align: center;">
                <label class="col-sm-12 col-md-12 form-control-label">บริษัท ทองแท้แท้ จำกัด</label>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-6 col-md-6" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">เลขที่บิล BCA0000034</label>
                </div>
                <div class="col-sm-6 col-md-6" style="text-align: right;">
                  <label class="col-sm-12 col-md-12 form-control-label">05 สิงหาคม 2560</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">ลูกค้า (ลูกค้าทั่วไป)</label>
                </div>
              </div>
              <hr>
              <div class="row">
                  <table align="center" style="width: 86%; max-width: 86%; page-break-inside:auto">
                    <thead>
                      <tr>
                        <th style="text-align:center; padding: 5px;">ลำดับ</th>
                        <th style="text-align:left; padding: 5px;">รายการ</th>
                        <th style="text-align:center; padding: 5px;">จำนวน</th>
                        <th style="text-align:center; padding: 5px;">รวม</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let record of recordsReceiptMini; let i = index">
                          <td style="text-align:center; padding: 5px;">{{record?.no}}</td>
                          <td style="text-align:left; padding: 5px;">{{record?.name}}</td>
                          <td style="text-align:center; padding: 5px;">{{record?.qty}}</td>
                          <td style="text-align:right;">{{record?.total}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-2 col-md-2">
                </div>
                <div class="col-sm-5 col-md-5" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">ยอดรวมบิล</label>
                </div>
                <div class="col-sm-4 col-md-4" style="margin: auto;">
                  <label class="col-sm-12 col-md-12 form-control-label">143,650.00</label>
                </div>
              </div>
          </div>
        </div>
          
        <div class="bg-recipt row">
          <div id="receiptFull" class="page A4 receiptFull" style="display: none;">
            <meta charset="UTF-8" />
              <div class="row">
                <label> &nbsp;</label>
              </div>
              <div class="row" style="text-align: center;">
                <label class="col-sm-12 col-md-12 form-control-label">ใบกำกับภาษี / ใบเสร็จรับเงิน</label>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1">
                  <img src="../../../../assets/img/logo.png" style="max-width: 40px; height: auto; margin-left: 15px;">
                </div>
                <div class="col-sm-5 col-md-5" style="text-align: left; color: #BE132D">
                  <label class="col-sm-12 col-md-12 form-control-label">TONG THAE THAE</label>
                </div>
                <div class="col-sm-6 col-md-6" style="text-align: right;">
                  <label class="col-sm-12 col-md-12 form-control-label">วันที่ 30 มิถุนายน 2560</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1">
                </div>
                <div class="col-sm-11 col-md-11">
                  <label class="col-sm-12 col-md-12 form-control-label">51/597 Soft Square Buliding,Mueng Ake</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1">
                </div>
                <div class="col-sm-5 col-md-5" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">Village Moo 7,Lakhok ,</label>
                </div>
                <div class="col-sm-6 col-md-6" style="text-align: right;">
                  <label class="col-sm-12 col-md-12 form-control-label">หมายเลขใบสั่งขาย 3240928002884</label>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-1 col-md-1">
                </div>
                <div class="col-sm-5 col-md-5" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">Muengpathumthani, Pathumthani 12000</label>
                </div>
                <div class="col-sm-6 col-md-6" style="text-align: right;">
                  <label class="col-sm-12 col-md-12 form-control-label">เลขประจำตัวผู้เสียภาษีอากร 1-2232-44253-09-2</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1">
                </div>
                <div class="col-sm-11 col-md-11" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">ข้อมูลลูกค้า</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1">
                </div>
                <div class="col-sm-11 col-md-11" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">นายสมหมาย มี่นคง เลขที่ประจำตัวผู้เสียภาษีอากร 1-5823-9872-3987</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1">
                </div>
                <div class="col-sm-11 col-md-11" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">ที่อยู่ 793/20 หมู่บ้านกุลพันธ์วิลล์ 7 หมู่ 4 ตำบลแม่เหี๊ยะ อำเภอเมือง จังหวัดเชียงใหม่ ประเทศไทย 50100</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1">
                </div>
                <div class="col-sm-11 col-md-11" style="text-align: left;">
                  <label class="col-sm-12 col-md-12 form-control-label">เบอร์โทรศัพท์ 087-777-7787 อีเมล์ sommai.m@gmail.com</label>
                </div>
              </div>
              <div class="form-group row">
                  <table class="receiptTable" align="center" style="width: 92%; max-width: 92%;">
                    <thead>
                      <tr>
                        <th>ลำดับ</th>
                        <th>รายการสินค้า</th>
                        <th>น้ำหนัก(กรัม)</th>
                        <th>ราคา(บาท)</th>
                        <th>ค่ากำเหน็จ(บาท)</th>
                        <th>จำนวน</th>
                        <th>รวม(บาท)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let record of recordsReceiptMini; let i = index">
                          <td style="text-align:center;">{{record?.no}}</td>
                          <td>{{record?.name}}</td>
                          <td style="text-align:center;">{{record?.weigth}}</td>
                          <td style="text-align:center;">{{record?.price}}</td>
                          <td style="text-align:center;">{{record?.gmc}}</td>
                          <td style="text-align:center;">{{record?.qty}}</td>
                          <td style="text-align:center;">{{record?.total}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="row">
                <div class="col-sm-1 col-md-1">
                </div>
              <div class="col-sm-5 col-md-5">
                <div class="row">
                  <label class="col-sm-6 col-md-6 form-control-label" >จำนวนสินค้าทั้งหมด</label>
                  <label class="col-sm-2 col-md-2 form-control-label" >2</label>
                  <label class="col-sm-2 col-md-2 form-control-label" >(รายการ)</label>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="row">
                  <label class="col-sm-6 col-md-6 form-control-label">ราคาสินค้า</label>
                  <label class="col-sm-6 col-md-6 form-control-label" style="text-align: right; margin-left: -6%;">143,650.00</label>
                </div>
                <div class="row">
                  <label class="col-sm-6 col-md-6 form-control-label">ค่ากำเหน็จ</label>
                  <label class="col-sm-6 col-md-6 form-control-label" style="text-align: right; margin-left: -6%;">700.00</label>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-md-6 form-control-label">ราคารวม</label>
                  <label class="col-sm-6 col-md-6 form-control-label" style="text-align: right; margin-left: -6%;">143,750.00</label>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-md-6 form-control-label">ส่วนลดค่ากำเหน็จ</label>
                  <label class="col-sm-6 col-md-6 form-control-label" style="text-align: right; margin-left: -6%;">100.00</label>
                </div>
                <div class="row">
                  <label class="col-sm-6 col-md-6 form-control-label">ราคารวมค่ากำเหน็จ(บาท)</label>
                  <label class="col-sm-6 col-md-6 form-control-label" style="text-align: right; margin-left: -6%;">143,650.00</label>
                </div>
                <div class="row">
                  <label class="col-sm-6 col-md-6 form-control-label">ภาษี 7%</label>
                  <label class="col-sm-6 col-md-6 form-control-label" style="text-align: right; margin-left: -6%;">0.00</label>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-md-6 form-control-label">ราคารวมภาษี 7%</label>
                  <label class="col-sm-6 col-md-6 form-control-label" style="text-align: right; margin-left: -6%;">143,650.00</label>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row" style="text-align: center; margin: auto;">
              <div class="col-sm-6 col-md-6">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-10 col-md-10 form-control-label" style="height: 1px; border-top: 1px solid #ccc;"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 form-control-label"> วันที่ 19/06/2560</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 form-control-label"> ผู้รับสินค้า</label>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 form-control-label" style="text-align: left; font-size: x-small;"> ราคาทองตามประกาศสมาคมฯ ณ วันที่ 19/06/2560 เวลา 09.45 น.</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 form-control-label" style="text-align: left; font-size: x-small;"> *ราคาทองคำแท่ง ซื้อคืน บาทละ 20,100.00 บาท</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 form-control-label" style="text-align: left; font-size: x-small;"> *ราคาทองรูปพรรณ ซื้อคืน บาทละ 20,650.00 บาท</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-10 col-md-10 form-control-label" style="height: 1px; border-top: 1px solid #ccc;"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 form-control-label"> วันที่ 19/06/2560</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <label class="col-sm-12 col-md-12 form-control-label"> ผู้รับสินค้า</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-blue col-sm-3 col-md-3" (click)="c('Close click')">ย้อนกลับ</button>
    <button type="button" class="btn btn-red col-sm-3 col-md-3" (click)="c('Close click')">ยืนยัน</button>
    <button type="button" class="btn btn-red col-sm-3 col-md-3" (click)="print()">พิมพ์ใบเสร็จแบบย่อ</button>
    <button type="button" class="btn btn-red col-sm-3 col-md-3" (click)="printFull()">พิมพ์ใบเสร็จแบบเต็ม</button>
  </div>
</ng-template>