<div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
        <i class="fa fa-fw fa-users"></i> การจัดการลูกค้า
      </div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
    <form [formGroup]="form">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              <label required>รหัสลูกค้า</label>
            </div>
            <div class="ui-grid-col-4 ui-g-4 ui-sm 4 ui-md-4">
              <input type="text" id="customId" name="customId" formControlName="customId" class="form-control" placeholder="รหัสผู้จำหน่าย">
            </div>

            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
              <label required> สถานะ </label>
            </div>
            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
              <p-selectButton [options]="customStatus" formControlName="customStatus"></p-selectButton>
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1" style="padding-left: 10px;">
              <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              ชื่อลูกค้า
            </div>
            <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
              <input type="text" id="customName" name="customName" formControlName="customName" class="form-control" placeholder="ชื่อลูกค้า">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              ที่อยู่
            </div>
            <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
              <textarea class="form-control" rows="3" id="customDesc" name="customDesc" formControlName="customDesc" placeholder="ที่อยู่"
                style="resize: none"></textarea>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              ชื่อผู้ติดต่อ
            </div>
            <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
              <input type="text" id="customContact" name="customContact" formControlName="customContact" class="form-control" placeholder="ชื่อผู้ติดต่อ">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              เบอร์โทร
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <input type="text" id="customTel" name="customTel" formControlName="customTel" class="form-control" placeholder="เบอร์โทร">
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              เบอร์แฟ็กซ์
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <input type="text" id="customFax" name="customFax" formControlName="customFax" class="form-control" placeholder="เบอร์แฟ็กซ์">
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
              อีเมล
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
              <input type="text" id="customEmail" name="customEmail" formControlName="customEmail" class="form-control" placeholder="อีเมล">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              เลขประจำตัว
              <br>ผู้เสียภาษี
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <input type="text" id="customTaxCode" name="customTaxCode" formControlName="customTaxCode" class="form-control" placeholder="เลขประจำตัวผู้เสียภาษี">
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              สำนักงาน/สาขาเลขที่
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <input type="text" id="customWorkPlace" name="customWorkPlace" formControlName="customWorkPlace" class="form-control" placeholder="สำนักงาน/สาขาเลขที่">
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
              เครดิต(วัน)
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
              <input type="text" id="customCredit" name="customCredit" formControlName="customCredit" class="form-control" placeholder="เครดิต(วัน)">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-g-12 ui-sm-12 ui-md-12 footer">
        <button pButton type="button" label="ยกเลิก" class="ui-button-blue"></button>
        <button pButton type="button" label="บันทึก" class="ui-button-red"></button>
      </div>
    </div>
  </div>
</div>

<!-- Search Modal -->
<p-dialog header="ค้นหาลูกค้า" [(visible)]="searchModal" [width]="1000" [positionTop]="100" dismissableMask="true">
  <form [formGroup]="formSearchModal">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
        รหัสลูกค้า
      </div>
      <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
        <input type="text" id="customId" name="customId" formControlName="customId" class="form-control" placeholder="รหัสลูกค้า">
      </div>
      <div class="ui-g-1 ui-sm-1 ui-md-1">
        <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-g-12 ui-sm-12 ui-md-12">
        <p-dataTable [value]="recordsSearch" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="300px">
          <p-column field="customId" header="รหัสลูกค้า" [sortable]="true"></p-column>
          <p-column field="customName" header="ชื่อลูกค้า" [sortable]="true"></p-column>
          <p-column field="customContact" header="ชื่อผู้ติดต่อ" [sortable]="true"></p-column>
          <p-column field="customTel" header="เบอร์โทร" [sortable]="true"></p-column>
          <p-column field="customEmail" header="อีเมล" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
    </div>
  </form>
  <p-footer>
    <button pButton type="button" (click)="searchModalHide()" label="ยกเลิก" class="ui-button-blue"></button>
  </p-footer>
</p-dialog>