<div class="animated fadeIn" style="margin-top: 1%;">
    <div class="row">
        <label class="col-sm-6 col-md-6 form-control-label" style="font-size: xx-large;">SOLD COUNT</label>
        <div class="col-sm-6 col-md-6" style="margin: auto; text-align: right;">
            <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
                <label class="btn btn-outline-red">
                <input type="radio" [value]="1"> Day
                </label>
                <label class="btn btn-outline-red">
                <input type="radio" [value]="2"> Week
                </label>
                <label class="btn btn-outline-red">
                <input type="radio" [value]="3"> Month
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-bar-chart-o"></i>{{ 'ราคาทอง' | translate }}
                </div>
                <div class="card-block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                        [options]="barChartOptions" [legend]="barChartLegend"
                        [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                <strong>ราคาทองตามประกาศของสมาคมค้าทองคำ</strong>
                </div>
                <div class="card-block">
                <label class="col-sm-12 col-md-12 form-control-label">ประจำวันที่ 19 มิถุนายน 2559 ครั้งที่ 1 เวลา 09.31 น.</label>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="text-align:center">96.5%</th>
                            <th style="text-align:center">รับซื้อ(บาท)</th>
                            <th style="text-align:center">ขายออก(บาท) (กรัม)</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of records; let i = index">
                                <td style="text-align:center">{{record?.name}}</td>
                                <td style="text-align:center">{{record?.priceBuy}}</td>
                                <td style="text-align:center">{{record?.priceSell}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            
            <div class="card">
            <div class="card-header">
                กราฟราคาทองสมาคม
            </div>
            <div class="card-block">
                <div class="chart-wrapper">
                <canvas baseChart class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColours"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-12 col-md-12 form-control-label" style="font-size: xx-large;">TOP PRODUCT SOLD</label>
    </div>
    <div class="card-footer topSale">
        <div class="row">
            <div class="col-sm-3 col-md-3" >
                <img class="rounded-circle" src="http://img.priceza.com/img/product/314/314-20170228202243-640931104233331.jpg" style="max-width: 40%">
            </div>
            <div class="col-sm-3 col-md-3">
                <img class="rounded-circle" src="http://img.priceza.com/img/product/7073/7073-20170507162545-6501721688222297.jpg" style="max-width: 40%">
            </div>
            <div class="col-sm-3 col-md-3">
                <img class="rounded-circle" src="http://img.priceza.com/img/product/314/314-20170319003023-2210940974904857.jpg" style="max-width: 40%">
            </div>
            <div class="col-sm-3 col-md-3">
                <img class="rounded-circle" src="http://img.priceza.com/img/product/200662/200662-20170610184802-9447763752029784.jpg" style="max-width: 40%">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 col-md-3 form-control-label" style="font-size: xx-large">$ 2,000</label>
            <label class="col-sm-3 col-md-3 form-control-label" style="font-size: xx-large">$ 1,500</label>
            <label class="col-sm-3 col-md-3 form-control-label" style="font-size: xx-large">$ 1,000</label>
            <label class="col-sm-3 col-md-3 form-control-label" style="font-size: xx-large">$ 500</label>
        </div>
        <div class="row">
            <label class="col-sm-3 col-md-3 form-control-label" style="font-size: x-large">ทองคำแท่ง 1 บาท</label>
            <label class="col-sm-3 col-md-3 form-control-label" style="font-size: x-large">ทองคำแท่ง 5 บาท</label>
            <label class="col-sm-3 col-md-3 form-control-label" style="font-size: x-large">สร้อยคอลายโซ่ 1 บาท</label>
            <label class="col-sm-3 col-md-3 form-control-label" style="font-size: x-large">สร้อยคอลายโปร่ง 3 บาท</label>
        </div>
    </div>
</div>