<app-header></app-header>
<div class="app-body">
  <app-sidebar [changeModule]="'train'"></app-sidebar>
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
      
    </div>
  </main>
</div>
 
