.aside-menu {
  z-index: $zindex-sticky - 1;
  width: $aside-menu-width;
  color: $aside-menu-color;
  background: $aside-menu-bg;
  margin-top: -1%;
  @include borders($aside-menu-borders);

  // .nav-tabs {
  //   border-color: $border-color;
  //   .nav-link {
  //     padding: $aside-menu-nav-padding-y $aside-menu-nav-padding-x;
  //     color: $body-color;
  //     border-top: 0;
  //     &.active {
  //       color: $brand-primary;
  //       border-right-color: $border-color;
  //       border-left-color: $border-color;
  //     }
  //   }
  //   .nav-item:first-child {
  //     .nav-link {
  //       border-left: 0;
  //     }
  //   }
  // }

  .aside-nav {
        overflow: visible;
        @include sidebar-width($sidebar-borders, $sidebar-minimized-width);
      }

      .nav {
        @include sidebar-width($sidebar-borders, $sidebar-minimized-width);

        .nav-title, .divider {
          display: none;
        }

        .nav-item {
          width: $sidebar-minimized-width;
          // overflow: hidden;
          border-left: 0 !important;

          ul {
            background: $aside-menu-bg;
          }

          .nav-link {
            position: relative;
            padding-left: 0;
            margin: 0;
            white-space: nowrap;
            border-left: 0 !important;

            i {
              display: block;
              float: left;
              width: $sidebar-minimized-height;
              padding: 0;
              margin: 0 !important;
              font-size: 18px;
            }

            .badge {
              position: absolute;
              // top: 14px;
              right: 15px;
              display: none;
            }

            &:hover {
              width: $sidebar-width;

              .badge {
                display: inline;
              }
            }
          }

          ul {
            position: absolute;
            left: $sidebar-minimized-width;

            li {
              position: relative;
              padding: 0;

              .nav-link {
                width: $sidebar-width - $sidebar-minimized-width;
              }

              ul, ol {
                position: absolute;
                top: 0;
                left: 100%;
              }
            }
          }

          &:hover {
            width: $sidebar-width + $sidebar-minimized-width;
            overflow: visible;
            background: $sidebar-nav-link-hover-bg;
            transition: 0s;

            > .nav-link {
              width: $sidebar-width + $sidebar-minimized-width;
            }

            > ul, > ol {
              display: inline;
              max-height: 10000px;
              transition: 0s;

              li {
                width: $sidebar-width;

                .nav-link {
                  width: $sidebar-width;
                }
              }
            }

            &.nav-dropdown {
              &.open {
                > ul, > ol {
                  display: inline;
                }
              }
            }
          }
        }
      }

  // .tab-content {
  //   position: relative;
  //   overflow-x: hidden;
  //   overflow-y: auto;
  //   border: 0;
  //   border-top: 1px solid $border-color;
  //   -ms-overflow-style: -ms-autohiding-scrollbar;

  //   &::-webkit-scrollbar {
  //     width: 10px;
  //     margin-left: -10px;
  //     -webkit-appearance: none;
  //   }

  //   // &::-webkit-scrollbar-button {    }

  //   &::-webkit-scrollbar-track {
  //     background-color: lighten($aside-menu-bg, 5%);
  //     border-right: 1px solid darken($aside-menu-bg, 5%);
  //     border-left: 1px solid darken($aside-menu-bg, 5%);
  //   }

  //   // &::-webkit-scrollbar-track-piece {    }

  //   &::-webkit-scrollbar-thumb {
  //     height: 50px;
  //     background-color: darken($aside-menu-bg, 10%);
  //     background-clip: content-box;
  //     border-color: transparent;
  //     border-style: solid;
  //     border-width: 1px 2px;
  //   }

  //   .tab-pane {
  //     padding: 0;
  //   }
  // }
}
