<app-header></app-header>
<div class="app-body">
  <app-sidebar [changeModule]="'su'"></app-sidebar>
  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumbs></app-breadcrumbs>-->
    <!-- Breadcrumb Menu-->
    <!--<li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Blutton group with nested dropdown">
          <a class="btn btn-secondary" href="#"><i class="fa fa-speech"></i></a>
          <a class="btn btn-secondary" [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> &nbsp;Dashboard</a>
          <a class="btn btn-secondary" href="#"><i class="fa fa-cog"></i> &nbsp;Settings</a>
        </div>
      </li>-->
    <!--</ol>-->

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>