<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-9 text-nowrap">
          <!-- <button class="btn btn-primary btn-sm" type="button" (click)="onBack()"><i class="icon-arrow-left-circle"></i> ย้อนกลับ</button> -->
        </div>
        <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
          <button class="btn btn-success" type="button" (click)="onSave()"> บันทึก</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="modal-header" style="margin-bottom: 4%">
              <div *ngIf="this.StudentID != null">
                <h4 class="modal-title">student Information</h4>
              </div>
              <div *ngIf="this.StudentID == null">
                <h4 class="modal-title">student Information</h4>
              </div>
            </div>
            <form [formGroup]="form">

              <div class="modal-dialog modal-lg">
                <div class="modal-body">
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" required>รหัสนักศึกษา</label>
                      <div class="col-sm-9 col-md-9 col-lg-9">
                      <div *ngIf="this.studentID == null">
                         <input type="text" id="studentCode" name="studentCode" formControlName="studentCode" class="form-control" placeholder="รหัสนักศึกษา">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" required>ชื่อ-สกุล</label>
                      <div class="col-sm-9 col-md-9 col-lg-9">
                      <input type="text" id="studentName" name="studentName" formControlName="studentName" class="form-control" placeholder="ชื่อ-สกุล">
                      </div>
                    </div>
                  </div>
                   <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" required>ที่อยู่</label>
                      <div class="col-sm-9 col-md-9 col-lg-9">
                        <textarea class="form-control" id="studentAddress" name="studentAddress" formControlName="studentAddress" placeholder="ที่อยู่"></textarea> 
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" required>เบอร์โทร</label>
                      <div class="col-sm-9 col-md-9 col-lg-9">
                      <input type="text" id="studentPhone" name="studentPhone" formControlName="studentPhone" class="form-control" placeholder="เบอร์โทร">
                      </div>
                    </div>
                  </div>
                    <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" required>อีเมล</label>
                      <div class="col-sm-9 col-md-9 col-lg-9">
                      <input type="text" id="studentEmail" name="studentEmail" formControlName="studentEmail" class="form-control" placeholder="อีเมล">
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <label class="col-sm-3 col-md-3 col-lg-3 form-control-label">สถานะใช้งาน</label>
                      <div class="col-sm-9 col-md-9 col-lg-9">
                        <input type="checkbox" formControlName="keepStatusStatus" value="1" (change)="changCheckbox($event)" checked />
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
<!-- <div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
                ตกลง
            </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--Alert back modal component -->
<!-- <div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">
                ตกลง
            </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
                ยกเลิก
            </button>
        </div>
      </div>
    </div>
  </div>
</div> -->