 <div class="app flex-row align-items-center ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="col-md-12 text-center login-logo">
                </div>
                <div class="col-md-12 text-center login-logo-label">
                    <h2>{{ projectName | translate }}</h2>
                </div>
                <div class="card-group mb-0">
                    <div class="card p-4 login-logo-block">
                        <div class="card-block">
                            <form [formGroup]="form">
                                <div class="form-content">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control input-underline input-lg" id="userName" name="userName" formControlName="userName"
                                            placeholder="{{ 'userName' | translate }}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" pPassword class="form-control" id="password" name="password" formControlName="password" placeholder="{{ 'password' | translate }}" style="padding: 0.5rem 1rem;">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control input-underline input-lg" id="repassword" name="repassword" formControlName="repassword"
                                            placeholder="{{ 'rePassword' | translate }}"  required validateEqual=”password”>
                                    </div>
                                    <div class="input-group mb-4">
                                        <p-dropdown [options]="role" formControlName="role" [style]="{'width':'100%'}" id="role" name="role"></p-dropdown>
                                    </div>
                                </div>
                              
                                <button pButton type="button" label="{{ 'register' | translate }}" class="btn btn-danger col-md-4" (click)="onSubmit()"></button>
                                <button type="button" class="btn btn-secondary col-md-4" [routerLink]="['/']">{{ 'login' | translate }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 