<style>
    .img01{
        float: left;
        width: 50%;
        height: 100%;
        position: pointer;
    }
    .img01:hover{
        background: #cccccc;
    }
</style>
<body>

    <div class="col-md-6 img01" align="center" style="margin:3% 0 0 0 ;">
        <img src="../../../../assets/img/Courses_35785.png" width="500px" height="500px">
    </div>

    <div class="col-md-6 img01" align="center" style="margin:3% 0 0 0 ;">
        <img src="../../../../assets/img/cropped-Bookmark-add-icon.png" width="500px" height="500px">
    </div>

</body>