<app-header></app-header>
<div class="app-body">
  <app-sidebar [changeModule]="'mfu'"></app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>