<div>
  <div class="app flex-row ">
    <div class="container">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
          <h3><i class="fa fa-key" aria-hidden="true"></i> ลืมรหัสผ่าน </h3>
        </div>
      </div>
      <div class="content">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content">
          <form [formGroup]="form">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
                  </div>
                  <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
                    <label required>{{ 'email' | translate }} </label>
                  </div>
                  <div class="ui-grid-col-6 ui-g-6 ui-sm-6 ui-md-6">
                    <input type="text" id="email" name="email" class="form-control" 
                    formControlName="email" placeholder="{{ 'email' | translate }}">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="content-section">
          <div class="ui-grid-row">
            <div class="ui-g-12 ui-sm-12 ui-md-12 footer">
              <a class="btn btn-blue"(click)="onClear()" style="color: white">{{ 'cancel' | translate }}</a>
              <a class="btn btn-red" (click)="onSave()" style="color: white">{{ 'send' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>