<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <!--<h2 class="page-header">
            {{ heading | translate }}
        </h2>-->
        <h2 class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><i class="fa {{icon}} fa-lg"></i>{{ heading | translate }}</li>
            </ol>
        </h2>
    </div>
</div>