 <div class="ui-grid-row">
  <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
    <h3>ลืมรหัสผ่าน</h3>
  </div>
</div>
<div class="content">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
          </div>
          <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
            <label required>Username </label>
          </div>
          <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
            <input type="text" id="productcatId" name="productcatId" class="form-control" placeholder="Username">
          </div>
          <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1" style="padding-left: 10px;">
            <button pButton type="button" icon="fa-search" class="ui-button-outline-red"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
      </div>
      <div class="ui-grid-col-2 ui-g 2 ui-sm-2 ui-md-2">
        Old Password
      </div>
      <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
        <input type="text" id="productcatName" name="productcatName" class="form-control" placeholder="Old Password" disabled>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
      </div>
      <div class="ui-grid-col-2 ui-g 2 ui-sm-2 ui-md-2">
        <label required> New Password </label>
      </div>
      <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
        <input type="text" id="productcatName" name="productcatName" class="form-control" placeholder="New Password">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
      </div>
      <div class="ui-grid-col-2 ui-g 2 ui-sm-2 ui-md-2">
        <label required> New Password (ซ้ำ) </label>
      </div>
      <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
        <input type="text" id="productcatName" name="productcatName" class="form-control" placeholder="New Password (ซ้ำ)">
      </div>
    </div>
  </div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-g-12 ui-sm-12 ui-md-12 footer">
                    <a class="btn btn-blue" href="login" style="color: white">ยกเลิก</a>
                    <a class="btn btn-red" href="login" style="color: white">แก้ไข</a>
      </div>
    </div>
  </div>
</div> 