<div class="content-section">
    <div class="row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
            <i class="fa fa-fw fa-graduation-cap"></i> Department Management
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1 header">
            <button pButton type="button" (click)="onSave()" icon="fa-save" class="ui-button-outline-red">Save</button>
        </div>
    </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
    <form [formGroup]="form">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
                        <label required> Department Code </label>
                    </div>
                    <div class="ui-grid-col-5 ui-g-5 ui-sm-5 ui-md-5">
                        <input type="text" id="departmentCode" name="departmentCode" formControlName="departmentCode" class="form-control" placeholder="Department Code">
                    </div>
                    <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
                        <label required> Department Name </label>
                    </div>
                    <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                        <input type="text" id="departmentName" name="departmentName" formControlName="departmentName" class="form-control" placeholder="Department Code">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable [value]="studentInDepartmentTable" [editable]="true" [scrollable]="true" [responsive]="true" [globalFilter]="gb"
    #dt styleClass="grid-no-scroll">
    <p-column field="studentCode" header="Student Code" [sortable]="true" [editable]="true" styleClass="grid-required">
        <ng-template let-index="rowIndex" let-col let-student="rowData" pTemplate="editor">
            <p-dropdown [options]="studentNoDepartment" [filter]="true" filterBy="label,value.name" [editable]="true" [style]="{'width':'100%'}"
                [(ngModel)]="student[col.field]" (onChange)="studentChange($event,index)" appendTo="body"></p-dropdown>
        </ng-template>
    </p-column>
    <p-column field="studentName" header="Student Name" [sortable]="true"></p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" class="ui-button-red" pButton icon="fa-plus" (click)="addRow()"></button>
        </ng-template>
        <ng-template let-index="rowIndex" pTemplate="body">
            <button type="button" class="ui-button-blue" pButton (click)="deleteRow(index)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
</p-dataTable>