<div class="content-section">
    <div class="row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
            <i class="fa fa-fw fa-graduation-cap"></i> Department Management
        </div>
    </div>
</div>
<br>
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">

    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>

    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>

<p-dataTable [value]="departmentTable" rowHover="true" (onRowClick)="onRowClick($event)" [scrollable]="true" scrollHeight="180px"
    [responsive]="true" [globalFilter]="gb" #dt styleClass="grid-no-scroll">
    <p-column field="departmentCode" header="Department Code" [sortable]="true"></p-column>
    <p-column field="departmentName" header="Department Name" [sortable]="true"></p-column>
    <p-column field="numberOfStudent" header="No. of Student" [sortable]="true" styleClass="grid-number"></p-column>
</p-dataTable>