<div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
        <i class="fa fa-fw fa-handshake-o"></i> จัดการผู้จำหน่าย
      </div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
    <form [formGroup]="form">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              <label required> รหัสผู้จำหน่าย </label>
            </div>
            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
              <input type="text" id="vendorCd" name="vendorCd" formControlName="vendorCd" class="form-control" placeholder="รหัสสินค้า">
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
              <label required>สถานะ</label>
            </div>
            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
              <p-selectButton [options]="vendorStatus" formControlName="vendorStatus"></p-selectButton>
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1" style="padding-left: 10px;">
              <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              ชื่อผู้จำหน่าย
            </div>
            <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
              <input type="text" id="vendorName" name="vendorName" formControlName="vendorName" class="form-control" placeholder="ชื่อผู้จำหน่าย">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              ที่อยู่
            </div>
            <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
              <textarea class="form-control" rows="3" id="vendorAddress" name="vendorAddress" formControlName="vendorAddress" placeholder="ที่อยู่"
                style="resize: none"></textarea>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              ชื่อผู้ติดต่อ
            </div>
            <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
              <input type="text" id="vendorContact" name="vendorContact" formControlName="vendorContact" class="form-control" placeholder="ชื่อผู้ติดต่อ">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              เบอร์โทรศัพท์
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <p-inputMask mask="999-999-999?9-9999" id="vendorTel" name="vendorTel" formControlName="vendorTel" placeholder="เบอร์โทรศัพท์"></p-inputMask>
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              เบอร์แฟ็กซ์
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <p-inputMask mask="9-9999-9999?-9999" id="vendorFax" name="vendorFax" formControlName="vendorFax" placeholder="เบอร์แฟ็กซ์"></p-inputMask>
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
              อีเมล
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
              <input type="text" id="vendorEmail" name="vendorEmail" formControlName="vendorEmail" class="form-control" placeholder="อีเมล">
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              เลขประจำตัว
              <br>ผู้เสียภาษี
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <p-inputMask mask="9999999999999" id="vendorTaxCode" name="vendorTaxCode" formControlName="vendorTaxCode" placeholder="เลขประจำตัวผู้เสียภาษี"></p-inputMask>
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              สำนักงาน/สาขาเลขที่
            </div>
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
              <input type="text" id="vendorWorkPlace" name="vendorWorkPlace" formControlName="vendorWorkPlace" class="form-control" placeholder="สำนักงาน/สาขาเลขที่">
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
              เครดิต (วัน)
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
              <p-inputMask mask="99/99/9999" id="vendorCredit" name="vendorCredit" formControlName="vendorCredit" placeholder="เครดิต(วัน)"
                slotChar="mm/dd/yyyy"></p-inputMask>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-g-12 ui-sm-12 ui-md-12 footer">
        <button pButton type="button" label="ยกเลิก" class="ui-button-blue"></button>
        <button pButton type="button" label="บันทึก" class="ui-button-red" (click)="onSubmit()"></button>
      </div>
    </div>
  </div>
</div>

<!-- Search Modal -->
<p-dialog header="ค้นหาผู้จำหน่าย" [(visible)]="searchModal" [width]="1000" [positionTop]="100" dismissableMask="true">
  <form [formGroup]="formSearchModal">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
        รหัสผู้จำหน่าย
      </div>
      <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
        <input type="text" id="vendorCd" name="vendorCd" formControlName="vendorCd" class="form-control" placeholder="รหัสผู้จำหน่าย">
      </div>
      <div class="ui-g-1 ui-sm-1 ui-md-1">
        <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-g-12 ui-sm-12 ui-md-12">
        <p-dataTable [value]="recordsSearch" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="300px">
          <p-column field="vendorCd" header="รหัสผู้จำหน่าย" [style]="{'text-align': 'center'}" [sortable]="true"></p-column>
          <p-column field="vendorName" header="ชื่อผู้จำหน่าย" [sortable]="true"></p-column>
          <p-column field="vendorContact" header="ชื่อผู้ติดต่อ" [sortable]="true"></p-column>
          <p-column field="vendorTel" header="เบอร์โทรศัพท์" [sortable]="true"></p-column>
          <p-column field="vendorEmail" header="อีเมล" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
    </div>
  </form>
  <p-footer>
    <button pButton type="button" (click)="searchModalHide()" label="ยกเลิก" class="ui-button-blue"></button>
  </p-footer>
</p-dialog>