<div class="content-section">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
    </div>
  </div>
  <div class="ui-grid-row">
    <div *ngIf="this.transhdrId != null ; else other_header">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
        แก้ไข รายการจ่ายสินค้า
      </div>
    </div>
    <ng-template #other_header>
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
        <h5><i class="fa fa-fw fa-upload"></i> เพิ่ม รายการจ่ายสินค้า</h5>
      </div>
    </ng-template>
  </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
  <form [formGroup]="form">
    <div class="ui-grid-row" style="padding-top: 1em;">
      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
          <label required>ประเภทรายการ </label>
        </div>
        <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
          <p-dropdown [options]="docTypeCode" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="docTypeCode"
            name="docTypeCode" formControlName="docTypeCode" placeholder="กรุณาเลือกประเภทรายการ"></p-dropdown>
        </div>
      </div>
      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
            <input type="text" id="transNo" name="transNo" formControlName="transNo" class="form-control" disabled="disabled" placeholder="เลขที่เอกสาร">
          </div>
        </div>
      </div>

      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
          วันที่เอกสาร
        </div>
        <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
          <p-calendar [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>
      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
          สถานะเอกสาร
        </div>
        <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
          <p-dropdown [options]="transStatus" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="transStatus"
            name="transStatus" formControlName="transStatus"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
          เลขที่เอกสารอ้างอิง
        </div>
        <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
          <input type="refNo" id="refNo" name="refNo" formControlName="refNo" class="form-control" size="14" maxlength="20" placeholder="เลขที่เอกสารอ้างอิง">
        </div>
      </div>
      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
          วันที่เอกสารอ้างอิง
        </div>
        <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
          <p-calendar [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>
      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
          <label required> จ่ายออกคลัง </label>
        </div>
        <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
          <p-dropdown [options]="warehouseId" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="warehouseId"
            name="warehouseId" formControlName="warehouseId" placeholder="กรุณาเลือกคลังสินค้า"></p-dropdown>
        </div>
      </div>
      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
          รับเข้าคลัง
        </div>
        <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
          <p-dropdown [options]="warehouseTemId" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="warehouseTemId"
            name="warehouseTemId" formControlName="warehouseTemId" placeholder="กรุณาเลือกคลังสินค้า"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
        <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
          ผู้จำหน่าย/ลูกค้า
        </div>
        <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
          <p-dropdown [options]="customerId" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="customerId"
            name="customerId" formControlName="customerId" placeholder="กรุณาเลือกผู้จำหน่าย/ลูกค้า"></p-dropdown>
        </div>
      </div>
      <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
        <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
          หมายเหตุ
        </div>
        <div class="ui-grid-col-11 ui-g-11 ui-sm-11 ui-md-11">
          <textarea class="form-control" rows="2" id="textarea" placeholder="หมายเหตุ" size="14" type="text" style="resize:none" maxlength="500"
            formControlName="transNote" #transNote>
          </textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<br>
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable [value]="tranDetail" [editable]="true" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="180px"
  [responsive]="true" [globalFilter]="gb" #dt styleClass="grid-no-scroll">
  <p-column field="productId" header="ชื่อสินค้า" [sortable]="true" [editable]="true" styleClass="grid-required">
    <ng-template let-index="rowIndex" let-col let-item="rowData" pTemplate="editor">
      <p-dropdown [options]="product" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" [(ngModel)]="item[col.field]"
        id="warehouseId" name="warehouseId" (onChange)="itemChange($event,index)" appendTo="body"></p-dropdown>
    </ng-template>
  </p-column>
  <p-column field="productDetail" header="รายละเอียดสินค้า" [sortable]="true"></p-column>
  <p-column field="transQty" header="จำนวน" [sortable]="true" [editable]="true" styleClass="grid-number grid-required"></p-column>
  <p-column styleClass="col-button">
    <ng-template pTemplate="header">
      <button type="button" class="ui-button-red" pButton icon="fa-plus" (click)="addRow()"></button>
    </ng-template>
    <ng-template let-index="rowIndex" pTemplate="body">
      <button type="button" class="ui-button-blue" pButton (click)="deleteRow(index)" icon="fa-trash"></button>
    </ng-template>
  </p-column>
</p-dataTable>

<!-- Search Modal -->
<!-- <p-dialog header="ค้นหาสินค้า" [(visible)]="searchModal" [width]="1000" [positionTop]="100" dismissableMask="true">
  <form [formGroup]="formSearchModal">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
        รหัสสินค้า
      </div>
      <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
         <input type="text" id="itemCd" name="itemCd" formControlName="itemCd" class="form-control" placeholder="รหัสสินค้า"> 
      </div>
      <div class="ui-g-1 ui-sm-1 ui-md-1">
        <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-g-12 ui-sm-12 ui-md-12">
        <p-dataTable [value]="recordsSearch" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="300px">
          <p-column field="itemCd" header="รหัสสินค้า" [sortable]="true"></p-column>
          <p-column field="itemName" header="ชื่อสินค้า" [sortable]="true"></p-column>
          <p-column field="itemDesc" header="รายละเอียดสินค้า" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
    </div>
  </form>
    <p-footer>
       <button pButton type="button" (click)="searchModalHide()" label="ยกเลิก" class="ui-button-blue"></button>
    </p-footer>
</p-dialog>  -->