<app-page-header [heading]="'หน้าหลัก'" [icon]="'fa-fw fa-folder-open-o'"></app-page-header>

<div class="row col-xs-12 col-md-12 main-container">
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-id-card-o'" [label]="'Student Information'" [data]="'GO'" [routingToURL]="'/mfu/mfu-01/mfu-01/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-book'" [label]="'Course Information'" [data]="'GO'" [routingToURL]="'/mfu/mfu-02/mfu-02/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4 card-compo">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-graduation-cap'" [label]="'Department Management'" [data]="'GO'" [routingToURL]="'/mfu/mfu-03/01/1'"></app-card>
    </div>
    
</div>