<!-- <div class="animated fadeIn" style="margin-top: 1%;">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card mb-3">
                <div class="card-header header">
                    <label class="col-sm-6 col-md-6 form-control-label" style="font-size: x-large;"><i class="fa fa-fw fa-unlock-alt"></i>{{ 'changePassword' | translate }}</label>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-10 push-md-1">
                            <form role="form">
                                <div class="form-content">
                                    <div class="form-group">
                                        <label>{{ 'currentPassword' | translate }}</label>
                                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'currentPassword' | translate }}">
                                    </div>
                                    <br>
                                    <label>{{ 'newpassword' | translate }}</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'newpassword' | translate }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'confirmPassword' | translate }}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12">
            <a class="btn btn-red" style="color: white" (click)="onSave()">บันทึก</a>
        </div>
    </div>
</div> -->