<app-header></app-header>
<div class="ui-g main-container">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-usd'" [label]="'pos'" [routingToURL]="'/pos'" [data]="'makeTransaction'"></app-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-home'" [label]="'mfu-app'" [routingToURL]="'/mfu'" [data]="'Transaction'"></app-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-home'" [label]="'inventory'" [data]="'makeTransaction'" [routingToURL]="'/inv/dashboard'"></app-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-user-circle'" [label]="'profile'" [routingToURL]="'/user'" [data]="'makeTransaction'"></app-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-address-book'" [label]="'จัดฝึกอบรม'" [routingToURL]="'/train'" [data]="'makeTransaction'"></app-card>
    </div>
</div>