<div class="content-section">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
        </div>
    </div>
    <div class="ui-grid-row">
        <div *ngIf="this.transhdrId != null ; else other_header">
            <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
                แก้ไข รายการเบิกเพื่อโอนสินค้าออกจากคลัง
            </div>
        </div>
        <ng-template #other_header>
            <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
                <h5><i class="fa fa-fw fa-download"></i> เพิ่ม รายการเบิกเพื่อโอนสินค้าออกจากคลัง</h5>
            </div>
        </ng-template>
    </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
    <form [formGroup]="form">
        <div class="ui-grid-row" style="padding-top: 1em;">
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                        <label required> ประเภทรายการ </label>
                    </div>
                    <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                        <input type="text" id="docTypeCode" name="docTypeCode" formControlName="docTypeCode" class="form-control" disabled="disabled"
                            placeholder="รายการเบิกเพื่อโอนสินค้าออกจากคลัง">
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
                        <input type="text" id="transNo" name="transNo" formControlName="transNo" class="form-control" disabled="disabled" placeholder="เลขที่เอกสาร">
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                        วันที่เอกสาร
                    </div>
                    <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
                        <p-calendar formControlName="transDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                        สถานะเอกสาร
                    </div>
                    <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                        <p-dropdown [options]="transStatus" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="transStatus"
                            name="transStatus" formControlName="transStatus"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                        <label required> รับเข้าคลัง </label>
                    </div>
                    <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                        <p-dropdown [options]="warehouse" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="warehouseId"
                            name="warehouseId" formControlName="warehouseId" placeholder="กรุณาเลือกคลังสินค้า" disabled="true"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                        <label required> จ่ายออกคลัง </label>
                    </div>
                    <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                        <p-dropdown [options]="warehouse" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="warehouseId"
                            name="warehouseId" formControlName="warehouseId" placeholder="กรุณาเลือกคลังสินค้า"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-6 ui-g-6 ui-sm-6 ui-md-6">
                <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
                    หมายเหตุ
                </div>
                <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
                    <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
                        <textarea class="form-control" rows="2" id="textarea" placeholder="หมายเหตุ" size="14" type="text" style="resize:none;" maxlength="500"
                            formControlName="transNote" #transNote>
                </textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-grid-row">

        </div>
    </form>
</div>
<br>
<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>
<p-dataTable [value]="tranDetail" [editable]="true" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="180px"
    [responsive]="true" [globalFilter]="gb" #dt styleClass="grid-no-scroll">
    <p-column field="productId" header="ชื่อสินค้า" [sortable]="true" [editable]="true" styleClass="grid-required">
        <ng-template let-index="rowIndex" let-col let-item="rowData" pTemplate="editor">
            <p-dropdown [options]="product" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" [(ngModel)]="item[col.field]"
                id="warehouseId" name="warehouseId" (onChange)="itemChange($event,index)" appendTo="body"></p-dropdown>
        </ng-template>
    </p-column>
    <p-column field="productDetail" header="รายละเอียดสินค้า" [sortable]="true"></p-column>
    <p-column field="transQty" header="จำนวน" [sortable]="true" [editable]="true" styleClass="grid-number grid-required"></p-column>
    <p-column field="transCost" header="ราคา" [sortable]="true" [editable]="true" styleClass="grid-number"></p-column>
    <p-column field="transAmount" header="มูลค่าสินค้า" [sortable]="true" [editable]="true" styleClass="grid-number"></p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            <button type="button" class="ui-button-red" pButton icon="fa-plus" (click)="addRow()"></button>
        </ng-template>
        <ng-template let-index="rowIndex" pTemplate="body">
            <button type="button" class="ui-button-blue" pButton (click)="deleteRow(index)" icon="fa-trash"></button>
        </ng-template>
    </p-column>
</p-dataTable>