<app-page-header [heading]="'dt'" [icon]="'fa-fw fa-calendar'"></app-page-header>
<div class="row col-xs-12 col-md-12 main-container">
    <div class="col-xs-4 col-md-4" style="margin-bottom: 10px">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-download'" [label]="'รายการรับจากการซื้อ'" [data]="'รายการรับจากการซื้อ'"
            [routingToURL]="'/inv/daily/receivefrombuy/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-download'" [label]="'รายการรับคืนจากลูกค้า'" [data]="'รายการรับคืนจากลูกค้า'"
            [routingToURL]="'/inv/daily/receivefromcustomer/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-download'" [label]="'รายการรับจากการโอนสินค้าเข้าคลัง'" [data]="'รายการรับจากการโอนสินค้าเข้าคลัง'"
            [routingToURL]="'/inv/daily/sitetransferfrom/1'"></app-card>
    </div>
</div>
<div class="row col-xs-12 col-md-12 main-container">
    <div class="col-xs-4 col-md-4" style="margin-bottom: 10px">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-upload'" [label]="'รายการขายสินค้า'" [data]="'รายการขายสินค้า'" 
            [routingToURL]="'/inv/daily/sale/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-upload'" [label]="'รายการส่งคืนผู้จำหน่าย'" [data]="'รายการส่งคืนผู้จำหน่าย'"
            [routingToURL]="'/inv/daily/returntovendor/1'"></app-card>
    </div>
    <div class="col-xs-4 col-md-4">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-upload'" [label]="'รายการเบิกเพื่อโอนสินค้าออกจากคลัง'" [data]="'รายการเบิกเพื่อโอนสินค้าออกจากคลัง'"
            [routingToURL]="'/inv/daily/sitetransferinto/1'"></app-card>
    </div>
</div>
<div class="row col-xs-12 col-md-12 main-container">
    <div class="col-xs-4 col-md-4" style="margin-bottom: 10px">
        <app-card [bgClass]="'card-blood'" [icon]="'fa-retweet'" [label]="'รายการปรับปรุง'" [data]="'รายการปรับปรุง'" 
            [routingToURL]="'/inv/daily/adjusting/1'"></app-card>
    </div>
</div>