<div class="content-section">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
        </div>
    </div>
    <div class="ui-grid-row">
        <div *ngIf="this.transhdrId != null ; else other_header">
            <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
                แก้ไข รายการปรับปรุงสินค้า
            </div>
        </div>
        <ng-template #other_header>
            <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
                <h5><i class="fa fa-fw fa-retweet"></i> รายการปรับปรุงสินค้า</h5>
            </div>
        </ng-template>
    </div>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
    <form [formGroup]="form">
        <div class="ui-grid-row" style="padding-top: 1em;">
            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                <label class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">เลขที่เอกสาร<span class="required"></span></label>
                <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                    <B><input class="form-control" id="appendedInputButtons" size="14" type="text" disabled="disabled" 
                    placeholder="เลขที่เอกสาร"  formControlName="transNo" #transNo /></B>
                </div>
            </div>
            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                <label class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">วันที่เอกสาร<span class="required"></span></label>
                <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                    <p-calendar formControlName="transDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </div>
            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                <label class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">สถานะเอกสาร<span class="required"></span></label>
                <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                    <p-dropdown [options]="transStatus" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="transStatus"
                        name="transStatus" formControlName="transStatus"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="ui-grid-row">

            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                <label class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">เลขที่เอกสารอ้างอิง<span class="required"></span></label>
                <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                    <input class="form-control" id="appendedInputButtons" size="14" type="text" placeholder="เลขที่เอกสารอ้างอิง" maxlength="20"
                        formControlName="refNo" #refNo value="{{this.form.controls['refNo'].value | reverse }}" />
                </div>
            </div>
            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                <label class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">วันที่เอกสารอ้างอิง<span class="required"></span></label>
                <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8" [ngSwitch]="this.docDisableAll">
                    <div *ngSwitchCase=undefined>
                        <p-calendar formControlName="dateRef" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div *ngSwitchCase="1">
                        <p-calendar formControlName="dateRef" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4">
                <label class="ui-grid-col-4 ui-g-4 ui-sm-4 ui-md-4" required>คลังสินค้า</label>
                <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                    <p-dropdown [options]="warehouse" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" id="warehouseId"
                        name="warehouseId" formControlName="warehouseId" placeholder="กรุณาเลือกคลังสินค้า"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-8 ui-g-8 ui-sm-8 ui-md-8">
                <label class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">หมายเหตุ<span class="required"></span></label>
                <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
                    <textarea class="form-control" rows="3" id="textarea" placeholder="หมายเหตุ" size="14" type="text" id="textarea" style="resize:none;"
                        maxlength="500" formControlName="transNote" #transNote>
              </textarea>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Filter">
    </div>
    <p-dataTable [value]="tranDetail" [editable]="true" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="180px"
        [responsive]="true" [globalFilter]="gb" #dt styleClass="grid-no-scroll">
        <p-column field="productId" header="ชื่อสินค้า" [sortable]="true" [editable]="true" styleClass="grid-required">
            <ng-template let-index="rowIndex" let-col let-item="rowData" pTemplate="editor">
                <p-dropdown [options]="product" [filter]="true" filterBy="label,value.name" [style]="{'width':'100%'}" [(ngModel)]="item[col.field]"
                    id="warehouseId" name="warehouseId" (onChange)="itemChange($event,index)" appendTo="body"></p-dropdown>
            </ng-template>
        </p-column>
        <p-column field="productDetail" header="รายละเอียดสินค้า" [sortable]="true"></p-column>
        <p-column field="transQty" header="จำนวน" [sortable]="true" [editable]="true" styleClass="grid-number grid-required"></p-column>
        <p-column field="transCost" header="ราคา" [sortable]="true" [editable]="true" styleClass="grid-number"></p-column>
        <p-column field="transAmount" header="มูลค่าสินค้า" [sortable]="true" [editable]="true" styleClass="grid-number"></p-column>
        <p-column styleClass="col-button">
            <ng-template pTemplate="header">
                <button type="button" class="ui-button-red" pButton icon="fa-plus" (click)="addRow()"></button>
            </ng-template>
            <ng-template let-index="rowIndex" pTemplate="body">
                <button type="button" class="ui-button-blue" pButton (click)="deleteRow(index)" icon="fa-trash"></button>
            </ng-template>
        </p-column>
    </p-dataTable>