<div class="app flex-row align-items-center ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="col-md-12 text-center login-logo"></div>
        <div class="col-md-12 text-center login-logo-label"> 
          <h2>MFU Application</h2>
        </div>
        <p-panel styleClass="login-logo-block">
            <p-header>
                <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
                      </div>
                      <div class="input-group mb-4">
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
                      </div>
            </p-header>
                <div class="row">
                        <div class="col-12 text-center">
                          <button class="btn btn-primary px-5" style="cursor: pointer;" type="button" (click)="onLoggedin()">
                            <h4>Login</h4>
                          </button>
                        </div>
                        <div class="col-12 text-center">
                          <button type="button" style="cursor: pointer;" class="btn btn-link px-0" routerLink="/forgetpassword" >Forgot your password? Click here.</button>
                        </div>
                      </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>


