@import "../../../scss/my-style.scss";
.login-logo{
    background-image: url('../../../assets/img/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px auto;
    height: 150px;
    margin-top: -70px;
}

.login-logo-label{
    color: $my-red;
}

// .login-logo-block{
//     background-color: $my-red;
//     border: 2px solid $my-red;
//     padding: 10px 40px; 
//     border-radius: 25px;
// }

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    border-color: $my-gold;
    background-color: $my-gold;
    border-radius: 25px;
}

.btn-primary:hover{
    color: $my-red;
}

.btn-link{
    color: $my-white;
}