<ol class="breadcrumb">
    <app-breadcrumbs [url]="'pos/daily/sale'"></app-breadcrumbs>
</ol>
<div class="container-fluid">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1" ></div>
            <div class="col-8 col-sm-9 col-md-9" >
                <input type="text" formControlName="inputSearch" class="form-control" id="textSearch"  placeholder="{{ 'textSearch' | translate }}">
            </div>
            <div class="col-1 col-sm-1 col-md-1" >
                <button type="submit" class="btn btn-success" (click)="onSearch()"><i class="fa fa-search"></i>{{ 'search' | translate }}</button>
            </div>
            <!--<div class="col-1 col-sm-1 col-md-1" >
                <button type="submit" class="btn btn-success btn-search"><i class="fa fa-search"></i>{{ 'advanceSearch' | translate }}</button>
            </div>-->
            <div class="col-3 col-sm-2 col-md-2" ></div>
        </div>
    </form>
</div>
<!--<div class="row">
</div>-->
<div class="container-fluid table-data">
    <div class="card mb-3">
        <div class="card-header">Striped Rows</div>
            <div class="card-block table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align:center">Sale Order</th>
                            <th style="text-align:center">Date</th>
                            <th style="text-align:center">Qty</th>
                            <th style="text-align:center">Toltal Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of records; let i = index">
                            <!--<td (click)="childModalShow(record)" style="text-align: center">
                                <u>  {{record?.supplierCode}}</u>
                            </td>-->
                            <td style="text-align:center">{{record?.sod}}</td>
                            <td style="text-align:center">{{record?.soddate | date:'d/MM/y'}}</td>
                            <td style="text-align:right">{{record?.Qty}}</td>
                            <!--<td style="text-align:right">{{record?.tamount | number:'1.2-2'}}</td>-->
                            <td> <button type="submit" (click)="test(i)" class="btn btn-success btn-search">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>