<ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs">
  <li class="breadcrumb-item">
      <a *ngIf="breadcrumb.last" [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
      <span *ngIf="!breadcrumb.last" [routerLink]="breadcrumb.url">{{breadcrumb.label}}</span>
  </li>
</ng-template>