<div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header-padding">
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12 header">
        <i class="fa fa-fw fa-cogs"></i> หมวดสินค้า
      </div>
    </div>
  </div>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid content-section content">
    <form [formGroup]="form">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12 ui-g-12 ui-sm-12 ui-md-12">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              <label required>รหัสหมวดสินค้า </label>
            </div>
            <div class="ui-grid-col-5 ui-g-5 ui-sm-5 ui-md-5">
              <input type="text" id="productcatId" name="productcatId" formControlName="productcatId" class="form-control" placeholder="รหัสหมวดสินค้า">
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1">
              <label required> สถานะ </label>
            </div>
            <div class="ui-grid-col-3 ui-g-3 ui-sm-3 ui-md-3">
              <p-selectButton [options]="productcatStatus" formControlName="productcatStatus"></p-selectButton>
            </div>
            <div class="ui-grid-col-1 ui-g-1 ui-sm-1 ui-md-1" style="padding-left: 10px;">
              <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ui-g 2 ui-sm-2 ui-md-2 " style="margin-right: -5%">
              ชื่อหมวดสินค้า
            </div>
            <div class="ui-grid-col-10 ui-g-10 ui-sm-10 ui-md-10">
              <input type="text" id="productcatName" name="productcatName" formControlName="productcatId" class="form-control" placeholder="ชื่อหมวดสินค้า">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="content-section">
    <div class="ui-grid-row">
      <div class="ui-g-12 ui-sm-12 ui-md-12 footer">
        <button pButton type="button" label="ยกเลิก" class="ui-button-blue"></button>
        <button pButton type="button" label="บันทึก" class="ui-button-red"></button>
      </div>
    </div>
  </div>
</div>

<!-- Search Modal -->
<p-dialog header="ค้นหาหมวดสินค้า" [(visible)]="searchModal" [width]="1000" [positionTop]="100" dismissableMask="true">
  <form [formGroup]="formSearchModal">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2 ui-g-2 ui-sm-2 ui-md-2">
        หมวดสินค้า
      </div>
      <div class="ui-grid-col-9 ui-g-9 ui-sm-9 ui-md-9">
        <input type="text" id="productcatId" name="productcatId" formControlName="productcatId" class="form-control" placeholder="หมวดสินค้า">
      </div>
      <div class="ui-g-1 ui-sm-1 ui-md-1">
        <button pButton type="button" (click)="searchModalShow()" icon="fa-search" class="ui-button-outline-red"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-g-12 ui-sm-12 ui-md-12">
        <p-dataTable [value]="recordsSearch" (onRowSelect)="onRowSelect($event)" [scrollable]="true" scrollHeight="300px">
          <p-column field="productcatId" header="หมวดสินค้า" [sortable]="true"></p-column>
          <p-column field="productcatName" header="ชื่อหมวดสินค้า" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
    </div>
  </form>
  <p-footer>
    <button pButton type="button" (click)="searchModalHide()" label="ยกเลิก" class="ui-button-blue"></button>
  </p-footer>
</p-dialog>