// Here you can add other styles



.select-type {
    width: 100%;

    .dropdown-item i {
        color: #000;
        margin-left: 1%;
    }

    .dropdown-menu {
        width: 50%;
        position: static;
    }
}