@import "./erp-style.scss";

// Theme

.grid-no-scroll{
    ::-webkit-scrollbar { 
        display: none; 
    }
    .ui-datatable-scrollable-header-box{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}

.ui-widget{
    font-family: inherit !important;
}

.ui-selectbutton .ui-button.ui-state-default{
    border: 1px solid $erp-red !important;
    background: $erp-white !important;
    color: $erp-red !important;
}

.ui-selectbutton .ui-button.ui-state-active{
    border: 1px solid $erp-red !important;
    background: $erp-red !important;
    color: $erp-white !important;
    box-shadow: 0px 0px 2px $erp-red !important;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active{
    background-color: $erp-red !important;
}

.ui-widget.ui-button{
    background: $erp-red !important;
    border: 1px solid $erp-red !important;
}

.ui-datatable{
    th.ui-state-default{
    background: #339966 !important;
    color: $erp-white !important;
    }
    .ui-datatable-data>tr>td{
    background: #99FF99 !important;
    color: $erp-black !important;
    }
}

.ui-dialog .ui-dialog-titlebar-icon{
    color: $erp-white !important;
}

.ui-dropdown-panel .ui-dropdown-filter-container{
    display: inherit !important;
}

.col-button{
    width: 5% !important;
    text-align: center !important;
}

td{
    &.grid-number{
        text-align: right !important;
    }
}

th{
    &.grid-required{
        &::after{
			content: " *" !important;
			color: red !important;
            margin-left: -30px;
		}
    }
}

label, th {
	&[required] {
		&::after{
			content: " *";
			color: red;
		}
	}
}

.galleria{
    img{
        height: 120%;
        width: 100%;
    }
    .ui-galleria-caption{
        position: absolute;
        left: 1px;
        background-color: transparent !important;
        display: none;
        color: #ededed;
        padding: .2em 1em;
    }
}

.card-panel{
    box-shadow: 4px 4px 15px -5px black !important;

    .ui-widget-header{
        background: $erp-white !important;
    }
    .ui-widget-content{
        background: $erp-white !important;
    }
    .btn-menu {
        color: $erp-red !important;
    }
    .ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all{
        border-color: $erp-red !important;
    }
}

.card-panel:hover{
    .ui-widget-header{
        background: $erp-red !important;
    }
    .ui-widget-content{
        background: $erp-red !important;
    }
    .btn-menu {
        color: $erp-white !important;
    }
    .ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all{
        border-color: $erp-white !important;
    }
}

.card-panel-su-rt-03{
    width: 99%;
    margin-left: 0.6%; 
    .ui-widget-header{
        background: $erp-red !important;
        color: white;
    }
    .ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all{
        border-color: $erp-red !important;
    }
}

.login-logo-block{
    box-shadow: 4px 4px 15px -5px black !important;

    .ui-widget-header {
        background: #f6f7f9 0 0 repeat-x !important;
        background: $erp-red !important;
        border-color: $erp-red !important;
    }
    background-color: $erp-red !important;
    border: 2px solid $erp-red !important;
    padding: 10px 40px !important; 
    border-radius: 25px !important;
}
