//ERP color shades.
$erp-red: #BE132D;
$erp-gold: #e1ab61;
$erp-blue: #2C3E50;
$erp-gray: #F0F0F0;
$erp-white: #FFF;
$erp-pink:#f6ecdd;
$erp-black: #000;
$erp-disable: #cfd8dc;
$erp-disable-font: #b1bfc6;
$erp-bg-reciept: #cccccc;