//My color shades.
$my-red: #BE132D;
$my-green: #00FF61;
$my-gold: #e1ab61;
$my-blue: #2C3E50;
$my-gray: #F0F0F0;
$my-white: #FFF;
$my-pink:#f6ecdd;
$my-black: #000;
$my-disable: #cfd8dc;
$my-disable-font: #b1bfc6;
$my-bg-reciept: #cccccc;