<!--<app-sidebar-tool [menuStatus]="'12'"></app-sidebar-tool>-->

<div class="animated fadeIn" style="margin-top: 1%;">
  <div class="row">
    <div class="col-sm-7 col-md-7">
      <div class="card">
        <div class="card-header">
          <strong>ข้อมูลพนักงาน</strong>
        </div>
        <div class="card-block">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="row">
                    <label class="col-sm-4 col-md-4 form-control-label" for="select">พนักงานขาย</label>
                    <div class="col-sm-8 col-md-8">
                        <select id="saleId" name="saleId" class="form-control">
                        <option value="0">Please select</option>
                        <option value="1">Option #1</option>
                        <option value="2">Option #2</option>
                        <option value="3">Option #3</option>
                        </select>
                    </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="row">
                    <label class="col-sm-3 col-md-3 form-control-label">วันที่</label>
                    <label class="col-sm-9 col-md-9 form-control-label" >20/06/2017</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <strong>ข้อมูลสินค้า</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th style="text-align:center">รหัส</th>
                    <th style="text-align:center">ชื่อสินค้า</th>
                    <th style="text-align:center">น้ำหนัก (กรัม)</th>
                    <th style="text-align:center">จำนวน</th>
                    <th style="text-align:center">ค่ากำเหน็ด</th>
                    <th style="text-align:center">รวม</th>
                    <th style="text-align:center"><button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of records; let i = index">
                        <td style="text-align:center">{{record?.saleId}}</td>
                        <td style="text-align:center">{{record?.name}}</td>
                        <td style="text-align:center">{{record?.weight}}</td>
                        <td style="text-align:center">{{record?.qty}}</td>
                        <td style="text-align:center">{{record?.gmc}}</td>
                        <td style="text-align:center">{{record?.total}}</td>
                        <td style="text-align:center"><button type="submit" class="btn btn-success"><i class="fa fa-minus"></i></button></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <label class="col-sm-12 col-md-12 form-control-label" style="text-align: right;">จำนวนเงินรวมทั้งหมด  23,000 บาท</label>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-5">
      <div class="card">
        <div class="card-header">
          <strong>ข้อมูลลูกค้า</strong>
        </div>
        <div class="card-block">
          <form [formGroup]="form">
            <div class="form-group row">
              <label class="col-sm-3 col-md-3 form-control-label" for="hf-email">ชื่อ - นามสกุล</label>
              <div class="col-sm-9 col-md-9">
                <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="ชื่อ - นามสกุล">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-md-3 form-control-label" for="hf-password">เบอร์โทร</label>
              <div class="col-sm-9 col-md-9">
                <input type="number" id="tel" name="tel" formControlName="tel" class="form-control" placeholder="เบอร์โทร">
              </div>
            </div>
            <div class="row">
              <label class="col-sm-3 col-md-3 form-control-label" for="hf-password">บัตรประชาชน</label>
              <div class="col-sm-9 col-md-9">
                <input type="number" id="citizenId" name="citizenId" formControlName="citizenId" class="form-control" placeholder="บัตรประชาชน">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <strong>สรุปราคาขาย</strong>
        </div>
        <div class="card-block">
          <form [formGroup]="form">
            <div class="form-group row">
                <label class="col-sm-10 col-md-10 form-control-label">รวม</label>
                <label class="col-sm-2 col-md-2 form-control-label" style="text-align: right;">23,000</label>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-md-6 form-control-label">ส่วนลด</label>
                <div class="col-sm-6 col-md-6">
                    <input type="number" id="discount" name="discount" formControlName="discount" class="form-control" placeholder="ส่วนลด" style="text-align: right;">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-10 col-md-10 form-control-label">จำนวนเงินหลังหักส่วนลด</label>
                <label class="col-sm-2 col-md-2 form-control-label" style="text-align: right;">23,000</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-md-3 form-control-label">VAT </label>
              <div class="col-sm-3 col-md-3">
                <label class="checkbox-inline" for="inline-checkbox1" style="text-align: right;">
                  <input type="checkbox" id="vatTrue" name="vatTrue" formControlName="vat" value="1">  คิด VAT
                </label>
              </div>
              <div class="col-sm-3 col-md-3">
                <label class="checkbox-inline" for="inline-checkbox2" style="text-align: right;">
                  <input type="checkbox" id="vatFalse" name="vatFalse" formControlName="vat" value="2">  ไม่คิด VAT
                </label>
              </div>
              <div class="col-sm-3 col-md-3">
                <input type="number" id="vatCount" name="vatCount" class="form-control" formControlName="vatCount" placeholder="0%" style="text-align: right;">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-10 col-md-10 form-control-label">ราคา VAT</label>
              <label class="col-sm-2 col-md-2 form-control-label" style="text-align: right;">0.00</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-10 col-md-10 form-control-label">จำนวนเงินก่อนรวม VAT</label>
              <label class="col-sm-2 col-md-2 form-control-label" style="text-align: right;">23,000</label>
            </div>
            <div class="form-group row">
              <label class="col-sm-10 col-md-10 form-control-label">จำนวนเงินหลังรวม VAT</label>
              <label class="col-sm-2 col-md-2 form-control-label" style="text-align: right;">23,000</label>
            </div>
            <div class="row">
              <label class="col-sm-10 col-md-10 form-control-label">จำนวนเงินรวมทั้งหมด</label>
              <label class="col-sm-2 col-md-2 form-control-label" style="text-align: right;">23,000</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>